<img src="./images/coronavirus_icon-1.jpg" style="float: left; margin: 20px; height: 75px">

# **Capstone: Covid-19 Study**

# Problem Statement

Covid-19 Study

# 1.  Data collection and cleaning

In [3]:
# Import libraries

import pandas as pd
import numpy as np
import requests
import os

In [2]:
# Create dictionary to download all relevant google csv's

google_dict = {'index' : "https://storage.googleapis.com/covid19-open-data/v3/index.csv",
               'demographics' : "https://storage.googleapis.com/covid19-open-data/v3/demographics.csv",
               'epidemiology' : "https://storage.googleapis.com/covid19-open-data/v3/epidemiology.csv",
               'health' : "https://storage.googleapis.com/covid19-open-data/v3/health.csv",
               'vaccinations' : "https://storage.googleapis.com/covid19-open-data/v3/vaccinations.csv",
               'government_response' : "https://storage.googleapis.com/covid19-open-data/v3/oxford-government-response.csv",
               'weather' : "https://storage.googleapis.com/covid19-open-data/v3/weather.csv"
               }

In [3]:
# read in and save google csv files
# Referenced https://medium.com/@mudassar_lhr/how-to-download-the-csv-file-from-url-using-python-650eae6d3478

for k,v in google_dict.items():
    req = requests.get(v)
    url_content = req.content
    csv_file = open(f'../world_datasets/{k}.csv', 'wb')
    csv_file.write(url_content)
    csv_file.close

In [15]:
# Create Dataframes

index = pd.read_csv('../world_datasets/index.csv')
demographics = pd.read_csv('../world_datasets/demographics.csv')
epidemiology = pd.read_csv('../world_datasets/epidemiology.csv')
health= pd.read_csv('../world_datasets/health.csv')
vaccinations = pd.read_csv('../world_datasets/vaccinations.csv')
government_response = pd.read_csv('../world_datasets/government_response.csv')
weather = pd.read_csv('../world_datasets/weather.csv')

In [101]:
# Create dataframe list 

df_list = [index,
           demographics,
           epidemiology,
           health,
           vaccinations,
           government_response,
           weather]

In [102]:
# Display data information

for df in df_list:
    df.info()
    print()
    print('-'*75)
    print()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22963 entries, 0 to 22962
Data columns (total 15 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   location_key        22962 non-null  object
 1   place_id            21661 non-null  object
 2   wikidata_id         22184 non-null  object
 3   datacommons_id      4216 non-null   object
 4   country_code        22962 non-null  object
 5   country_name        22963 non-null  object
 6   subregion1_code     22715 non-null  object
 7   subregion1_name     22716 non-null  object
 8   subregion2_code     21253 non-null  object
 9   subregion2_name     21253 non-null  object
 10  locality_code       32 non-null     object
 11  locality_name       32 non-null     object
 12  iso_3166_1_alpha_2  22961 non-null  object
 13  iso_3166_1_alpha_3  22962 non-null  object
 14  aggregation_level   22963 non-null  int64
dtypes: int64(1), object(14)
memory usage: 2.6+ MB

---------------------------------------------------------------------------

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21689 entries, 0 to 21688
Data columns (total 19 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   location_key                 21688 non-null  object
 1   population                   21659 non-null  float64
 2   population_male              17607 non-null  float64
 3   population_female            17607 non-null  float64
 4   population_rural             213 non-null    float64
 5   population_urban             213 non-null    float64
 6   population_largest_city      152 non-null    float64
 7   population_clustered         121 non-null    float64
 8   population_density           1192 non-null   float64
 9   human_development_index      5738 non-null   float64
 10  population_age_00_09         17249 non-null  float64
 11  population_age_10_19         17248 non-null  float64
 12  population_age_20_29         17248 non-null  float64
 13  population_age_30_39         17256 non-null  float64
 14  population_age_40_49         17250 non-null  float64
 15  population_age_50_59         17232 non-null  float64
 16  population_age_60_69         17214 non-null  float64
 17  population_age_70_79         17127 non-null  float64
 18  population_age_80_and_older  16960 non-null  float64
dtypes: float64(18), object(1)
memory usage: 3.1+ MB

---------------------------------------------------------------------------

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12525825 entries, 0 to 12525824
Data columns (total 10 columns):
 #   Column                Dtype
---  ------                -----
 0   date                  object
 1   location_key          object
 2   new_confirmed         float64
 3   new_deceased          float64
 4   new_recovered         float64
 5   new_tested            float64
 6   cumulative_confirmed  float64
 7   cumulative_deceased   float64
 8   cumulative_recovered  float64
 9   cumulative_tested     float64
dtypes: float64(8), object(2)
memory usage: 955.6+ MB

---------------------------------------------------------------------------

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3504 entries, 0 to 3503
Data columns (total 14 columns):
 #   Column                                Non-Null Count  Dtype
---  ------                                --------------  -----
 0   location_key                          3503 non-null   object
 1   life_expectancy                       3499 non-null   float64
 2   smoking_prevalence                    146 non-null    float64
 3   diabetes_prevalence                   209 non-null    float64
 4   infant_mortality_rate                 193 non-null    float64
 5   adult_male_mortality_rate             189 non-null    float64
 6   adult_female_mortality_rate           189 non-null    float64
 7   pollution_mortality_rate              183 non-null    float64
 8   comorbidity_mortality_rate            183 non-null    float64
 9   hospital_beds_per_1000                25 non-null     float64
 10  nurses_per_1000                       180 non-null    float64
 11  physicians_per_1000                   164 non-null    float64
 12  health_expenditure_usd                186 non-null    float64
 13  out_of_pocket_health_expenditure_usd  186 non-null    float64
dtypes: float64(13), object(1)
memory usage: 383.4+ KB

---------------------------------------------------------------------------

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2545118 entries, 0 to 2545117
Data columns (total 32 columns):
 #   Column                                         Dtype
---  ------                                         -----
 0   date                                           object
 1   location_key                                   object
 2   new_persons_vaccinated                         float64
 3   cumulative_persons_vaccinated                  float64
 4   new_persons_fully_vaccinated                   float64
 5   cumulative_persons_fully_vaccinated            float64
 6   new_vaccine_doses_administered                 float64
 7   cumulative_vaccine_doses_administered          float64
 8   new_persons_vaccinated_pfizer                  float64
 9   cumulative_persons_vaccinated_pfizer           float64
 10  new_persons_fully_vaccinated_pfizer            float64
 11  cumulative_persons_fully_vaccinated_pfizer     float64
 12  new_vaccine_doses_administered_pfizer          float64
 13  cumulative_vaccine_doses_administered_pfizer   float64
 14  new_persons_vaccinated_moderna                 float64
 15  cumulative_persons_vaccinated_moderna          float64
 16  new_persons_fully_vaccinated_moderna           float64
 17  cumulative_persons_fully_vaccinated_moderna    float64
 18  new_vaccine_doses_administered_moderna         float64
 19  cumulative_vaccine_doses_administered_moderna  float64
 20  new_persons_vaccinated_janssen                 float64
 21  cumulative_persons_vaccinated_janssen          float64
 22  new_persons_fully_vaccinated_janssen           float64
 23  cumulative_persons_fully_vaccinated_janssen    float64
 24  new_vaccine_doses_administered_janssen         float64
 25  cumulative_vaccine_doses_administered_janssen  float64
 26  new_persons_vaccinated_sinovac                 float64
 27  total_persons_vaccinated_sinovac               float64
 28  new_persons_fully_vaccinated_sinovac           float64
 29  total_persons_fully_vaccinated_sinovac         float64
 30  new_vaccine_doses_administered_sinovac         float64
 31  total_vaccine_doses_administered_sinovac       float64
dtypes: float64(30), object(2)
memory usage: 621.4+ MB

---------------------------------------------------------------------------

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 303969 entries, 0 to 303968
Data columns (total 22 columns):
 #   Column                              Non-Null Count   Dtype
---  ------                              --------------   -----
 0   date                                303969 non-null  object
 1   location_key                        303053 non-null  object
 2   school_closing                      302415 non-null  float64
 3   workplace_closing                   302243 non-null  float64
 4   cancel_public_events                302068 non-null  float64
 5   restrictions_on_gatherings          301981 non-null  float64
 6   public_transport_closing            301845 non-null  float64
 7   stay_at_home_requirements           302074 non-null  float64
 8   restrictions_on_internal_movement   302034 non-null  float64
 9   international_travel_controls       300241 non-null  float64
 10  income_support                      286963 non-null  float64
 11  debt_relief                         286854 non-null  float64
 12  fiscal_measures                     146749 non-null  float64
 13  international_support               146645 non-null  float64
 14  public_information_campaigns        302001 non-null  float64
 15  testing_policy                      300377 non-null  float64
 16  contact_tracing                     298180 non-null  float64
 17  emergency_investment_in_healthcare  151099 non-null  float64
 18  investment_in_vaccines              232734 non-null  float64
 19  facial_coverings                    301618 non-null  float64
 20  vaccination_policy                  301242 non-null  float64
 21  stringency_index                    301587 non-null  float64
dtypes: float64(20), object(2)
memory usage: 51.0+ MB

---------------------------------------------------------------------------

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21680590 entries, 0 to 21680589
Data columns (total 9 columns):
 #   Column                       Dtype
---  ------                       -----
 0   date                         object
 1   location_key                 object
 2   average_temperature_celsius  float64
 3   minimum_temperature_celsius  float64
 4   maximum_temperature_celsius  float64
 5   rainfall_mm                  float64
 6   snowfall_mm                  float64
 7   dew_point                    float64
 8   relative_humidity            float64
dtypes: float64(7), object(2)
memory usage: 1.5+ GB

---------------------------------------------------------------------------

In [18]:
# Extract US data from datasets

us_index = index[index.location_key.str.startswith('US_') == True]
us_demographics = demographics[demographics.location_key.str.startswith('US_') == True]
us_epidemiology = epidemiology[epidemiology.location_key.str.startswith('US_') == True]
us_health = health[health.location_key.str.startswith('US_') == True]
us_vaccinations = vaccinations[vaccinations.location_key.str.startswith('US_') == True]
us_government_response = government_response[government_response.location_key.str.startswith('US_') == True]
us_weather = weather[weather.location_key.str.startswith('US_') == True]

In [15]:
# Write US datasets to local for future use

us_index.to_csv('../us_datasets/us_index.csv')
us_demographics.to_csv('../us_datasets/us_demographics.csv')
us_epidemiology.to_csv('../us_datasets/us_epidemiology.csv')
us_health.to_csv('../us_datasets/us_health.csv')
us_vaccinations.to_csv('../us_datasets/us_vaccinations.csv')
us_government_response.to_csv('../us_datasets/us_government_response.csv')
us_weather.to_csv('../us_datasets/us_weather.csv')

In [78]:
# Create Dataframes

us_index = pd.read_csv('../us_datasets/us_index.csv', index_col = 'location_key')
us_demographics = pd.read_csv('../us_datasets/us_demographics.csv', index_col = 'location_key')
us_epidemiology = pd.read_csv('../us_datasets/us_epidemiology.csv', index_col = 'location_key')
us_health= pd.read_csv('../us_datasets/us_health.csv', index_col = 'location_key')
us_vaccinations = pd.read_csv('../us_datasets/us_vaccinations.csv', index_col = 'location_key')
us_government_response = pd.read_csv('../us_datasets/us_government_response.csv', index_col = 'location_key')
us_weather = pd.read_csv('../us_datasets/us_weather.csv', index_col = 'location_key')

In [119]:
# Display data information from US only datasets

us_df_list = [us_index,
           us_demographics,
           us_epidemiology,
           us_health,
           us_vaccinations,
           us_government_response,
           us_weather]

for df in us_df_list:
    df.info()
    print()
    print('-'*75)
    print()

<class 'pandas.core.frame.DataFrame'>
Index: 3284 entries, US_AK to US_WY_56045
Data columns (total 16 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Unnamed: 0.1        3284 non-null   int64
 1   Unnamed: 0          3284 non-null   int64
 2   place_id            3281 non-null   object
 3   wikidata_id         3284 non-null   object
 4   datacommons_id      3282 non-null   object
 5   country_code        3284 non-null   object
 6   country_name        3284 non-null   object
 7   subregion1_code     3284 non-null   object
 8   subregion1_name     3284 non-null   object
 9   subregion2_code     3225 non-null   float64
 10  subregion2_name     3225 non-null   object
 11  locality_code       3 non-null      object
 12  locality_name       3 non-null      object
 13  iso_3166_1_alpha_2  3284 non-null   object
 14  iso_3166_1_alpha_3  3284 non-null   object
 15  aggregation_level   3284 non-null   int64
dtypes: float64(1), int64(3), object(12)
memory usage: 436.2+ KB

---------------------------------------------------------------------------

<class 'pandas.core.frame.DataFrame'>
Index: 3284 entries, US_AK to US_WY_56045
Data columns (total 20 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Unnamed: 0.1                 3284 non-null   int64
 1   Unnamed: 0                   3284 non-null   int64
 2   population                   3284 non-null   float64
 3   population_male              3202 non-null   float64
 4   population_female            3202 non-null   float64
 5   population_rural             0 non-null      float64
 6   population_urban             0 non-null      float64
 7   population_largest_city      0 non-null      float64
 8   population_clustered         0 non-null      float64
 9   population_density           0 non-null      float64
 10  human_development_index      0 non-null      float64
 11  population_age_00_09         3202 non-null   float64
 12  population_age_10_19         3202 non-null   float64
 13  population_age_20_29         3202 non-null   float64
 14  population_age_30_39         3202 non-null   float64
 15  population_age_40_49         3202 non-null   float64
 16  population_age_50_59         3202 non-null   float64
 17  population_age_60_69         3202 non-null   float64
 18  population_age_70_79         3202 non-null   float64
 19  population_age_80_and_older  3202 non-null   float64
dtypes: float64(18), int64(2)
memory usage: 538.8+ KB

---------------------------------------------------------------------------

<class 'pandas.core.frame.DataFrame'>
Index: 2550043 entries, US_AK to US_WY_56045
Data columns (total 11 columns):
 #   Column                Dtype
---  ------                -----
 0   Unnamed: 0.1          int64
 1   Unnamed: 0            int64
 2   date                  object
 3   new_confirmed         float64
 4   new_deceased          float64
 5   new_recovered         float64
 6   new_tested            float64
 7   cumulative_confirmed  float64
 8   cumulative_deceased   float64
 9   cumulative_recovered  float64
 10  cumulative_tested     float64
dtypes: float64(8), int64(2), object(1)
memory usage: 233.5+ MB

---------------------------------------------------------------------------

<class 'pandas.core.frame.DataFrame'>
Index: 3075 entries, US_AK to US_WY_56045
Data columns (total 15 columns):
 #   Column                                Non-Null Count  Dtype
---  ------                                --------------  -----
 0   Unnamed: 0.1                          3075 non-null   int64
 1   Unnamed: 0                            3075 non-null   int64
 2   life_expectancy                       3075 non-null   float64
 3   smoking_prevalence                    0 non-null      float64
 4   diabetes_prevalence                   0 non-null      float64
 5   infant_mortality_rate                 0 non-null      float64
 6   adult_male_mortality_rate             0 non-null      float64
 7   adult_female_mortality_rate           0 non-null      float64
 8   pollution_mortality_rate              0 non-null      float64
 9   comorbidity_mortality_rate            0 non-null      float64
 10  hospital_beds_per_1000                0 non-null      float64
 11  nurses_per_1000                       0 non-null      float64
 12  physicians_per_1000                   0 non-null      float64
 13  health_expenditure_usd                0 non-null      float64
 14  out_of_pocket_health_expenditure_usd  0 non-null      float64
dtypes: float64(13), int64(2)
memory usage: 384.4+ KB

---------------------------------------------------------------------------

<class 'pandas.core.frame.DataFrame'>
Index: 1624891 entries, US_AK to US_WY_56045
Data columns (total 33 columns):
 #   Column                                         Non-Null Count    Dtype
---  ------                                         --------------    -----
 0   Unnamed: 0.1                                   1624891 non-null  int64
 1   Unnamed: 0                                     1624891 non-null  int64
 2   date                                           1624891 non-null  object
 3   new_persons_vaccinated                         33325 non-null    float64
 4   cumulative_persons_vaccinated                  33382 non-null    float64
 5   new_persons_fully_vaccinated                   1621498 non-null  float64
 6   cumulative_persons_fully_vaccinated            1624725 non-null  float64
 7   new_vaccine_doses_administered                 33422 non-null    float64
 8   cumulative_vaccine_doses_administered          33479 non-null    float64
 9   new_persons_vaccinated_pfizer                  0 non-null        float64
 10  cumulative_persons_vaccinated_pfizer           0 non-null        float64
 11  new_persons_fully_vaccinated_pfizer            30352 non-null    float64
 12  cumulative_persons_fully_vaccinated_pfizer     30408 non-null    float64
 13  new_vaccine_doses_administered_pfizer          30352 non-null    float64
 14  cumulative_vaccine_doses_administered_pfizer   30408 non-null    float64
 15  new_persons_vaccinated_moderna                 0 non-null        float64
 16  cumulative_persons_vaccinated_moderna          0 non-null        float64
 17  new_persons_fully_vaccinated_moderna           30352 non-null    float64
 18  cumulative_persons_fully_vaccinated_moderna    30408 non-null    float64
 19  new_vaccine_doses_administered_moderna         30352 non-null    float64
 20  cumulative_vaccine_doses_administered_moderna  30408 non-null    float64
 21  new_persons_vaccinated_janssen                 0 non-null        float64
 22  cumulative_persons_vaccinated_janssen          0 non-null        float64
 23  new_persons_fully_vaccinated_janssen           30352 non-null    float64
 24  cumulative_persons_fully_vaccinated_janssen    30408 non-null    float64
 25  new_vaccine_doses_administered_janssen         30352 non-null    float64
 26  cumulative_vaccine_doses_administered_janssen  30408 non-null    float64
 27  new_persons_vaccinated_sinovac                 0 non-null        float64
 28  total_persons_vaccinated_sinovac               0 non-null        float64
 29  new_persons_fully_vaccinated_sinovac           0 non-null        float64
 30  total_persons_fully_vaccinated_sinovac         0 non-null        float64
 31  new_vaccine_doses_administered_sinovac         0 non-null        float64
 32  total_vaccine_doses_administered_sinovac       0 non-null        float64
dtypes: float64(30), int64(2), object(1)
memory usage: 421.5+ MB

---------------------------------------------------------------------------

<class 'pandas.core.frame.DataFrame'>
Index: 47299 entries, US_AK to US_WY
Data columns (total 23 columns):
 #   Column                              Non-Null Count  Dtype
---  ------                              --------------  -----
 0   Unnamed: 0.1                        47299 non-null  int64
 1   Unnamed: 0                          47299 non-null  int64
 2   date                                47299 non-null  object
 3   school_closing                      47298 non-null  float64
 4   workplace_closing                   47299 non-null  float64
 5   cancel_public_events                47299 non-null  float64
 6   restrictions_on_gatherings          47299 non-null  float64
 7   public_transport_closing            47291 non-null  float64
 8   stay_at_home_requirements           47299 non-null  float64
 9   restrictions_on_internal_movement   47293 non-null  float64
 10  international_travel_controls       47284 non-null  float64
 11  income_support                      47294 non-null  float64
 12  debt_relief                         47249 non-null  float64
 13  fiscal_measures                     12047 non-null  float64
 14  international_support               11919 non-null  float64
 15  public_information_campaigns        47296 non-null  float64
 16  testing_policy                      47296 non-null  float64
 17  contact_tracing                     47284 non-null  float64
 18  emergency_investment_in_healthcare  11851 non-null  float64
 19  investment_in_vaccines              13868 non-null  float64
 20  facial_coverings                    47293 non-null  float64
 21  vaccination_policy                  47289 non-null  float64
 22  stringency_index                    47293 non-null  float64
dtypes: float64(20), int64(2), object(1)
memory usage: 8.7+ MB

---------------------------------------------------------------------------

<class 'pandas.core.frame.DataFrame'>
Index: 3240613 entries, US_AK to US_WY_56045
Data columns (total 10 columns):
 #   Column                       Dtype
---  ------                       -----
 0   Unnamed: 0.1                 int64
 1   Unnamed: 0                   int64
 2   date                         object
 3   average_temperature_celsius  float64
 4   minimum_temperature_celsius  float64
 5   maximum_temperature_celsius  float64
 6   rainfall_mm                  float64
 7   snowfall_mm                  float64
 8   dew_point                    float64
 9   relative_humidity            float64
dtypes: float64(7), int64(2), object(1)
memory usage: 272.0+ MB

---------------------------------------------------------------------------

## Drop unnecessary columns and rows, prepare datasets for merging

### Clean index dataset

In [79]:
# Only keep data on US states by county, drop state level and US territory data

us_index = us_index[us_index.subregion1_code.isin(['MP', 'PR', 'VI']) == False]
us_index = us_index[['subregion2_name']].dropna()

In [80]:
us_index.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3142 entries, US_AK_02013 to US_WY_56045
Data columns (total 1 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   subregion2_name  3142 non-null   object
dtypes: object(1)
memory usage: 49.1+ KB

In [81]:
# Save index to merge data on for reference

us_index.to_csv('../us_datasets/us_index_merge_on.csv')

### Clean us_demographics dataset

In [124]:
us_demographics = pd.read_csv('../us_datasets/us_demographics.csv', index_col = 'location_key')

In [125]:
# identify columns to drop

us_demographics.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3284 entries, US_AK to US_WY_56045
Data columns (total 20 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Unnamed: 0.1                 3284 non-null   int64
 1   Unnamed: 0                   3284 non-null   int64
 2   population                   3284 non-null   float64
 3   population_male              3202 non-null   float64
 4   population_female            3202 non-null   float64
 5   population_rural             0 non-null      float64
 6   population_urban             0 non-null      float64
 7   population_largest_city      0 non-null      float64
 8   population_clustered         0 non-null      float64
 9   population_density           0 non-null      float64
 10  human_development_index      0 non-null      float64
 11  population_age_00_09         3202 non-null   float64
 12  population_age_10_19         3202 non-null   float64
 13  population_age_20_29         3202 non-null   float64
 14  population_age_30_39         3202 non-null   float64
 15  population_age_40_49         3202 non-null   float64
 16  population_age_50_59         3202 non-null   float64
 17  population_age_60_69         3202 non-null   float64
 18  population_age_70_79         3202 non-null   float64
 19  population_age_80_and_older  3202 non-null   float64
dtypes: float64(18), int64(2)
memory usage: 538.8+ KB

In [126]:
# Drop empty and unnecessary columns

us_demographics.drop(axis = 1, columns = ['Unnamed: 0.1',
                                          'Unnamed: 0',
                                          'population_rural', 
                                          'population_urban', 
                                          'population_largest_city', 
                                          'population_clustered', 
                                          'population_density', 
                                          'human_development_index'], 
                     inplace = True)

In [127]:
# Create population and sex ratios to attempt to de-correlate demographic data

us_demographics['male_female_ratio'] = us_demographics['population_male'] / us_demographics['population']
us_demographics['age_00_09_ratio'] = us_demographics['population_age_00_09'] / us_demographics['population']
us_demographics['age_10_19_ratio'] = us_demographics['population_age_10_19'] / us_demographics['population']
us_demographics['age_20_29_ratio'] = us_demographics['population_age_20_29'] / us_demographics['population']
us_demographics['age_30_3_ratio'] = us_demographics['population_age_30_39'] / us_demographics['population']
us_demographics['age_40_49_ratio'] = us_demographics['population_age_40_49'] / us_demographics['population']
us_demographics['age_50_59_ratio'] = us_demographics['population_age_50_59'] / us_demographics['population']
us_demographics['age_60_69_ratio'] = us_demographics['population_age_60_69'] / us_demographics['population']
us_demographics['age_70_79_ratio'] = us_demographics['population_age_70_79'] / us_demographics['population']
us_demographics['age_80_and_older_ratio'] = us_demographics['population_age_80_and_older'] / us_demographics['population']

In [128]:
us_demographics.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3284 entries, US_AK to US_WY_56045
Data columns (total 22 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   population                   3284 non-null   float64
 1   population_male              3202 non-null   float64
 2   population_female            3202 non-null   float64
 3   population_age_00_09         3202 non-null   float64
 4   population_age_10_19         3202 non-null   float64
 5   population_age_20_29         3202 non-null   float64
 6   population_age_30_39         3202 non-null   float64
 7   population_age_40_49         3202 non-null   float64
 8   population_age_50_59         3202 non-null   float64
 9   population_age_60_69         3202 non-null   float64
 10  population_age_70_79         3202 non-null   float64
 11  population_age_80_and_older  3202 non-null   float64
 12  male_female_ratio            3202 non-null   float64
 13  age_00_09_ratio              3202 non-null   float64
 14  age_10_19_ratio              3202 non-null   float64
 15  age_20_29_ratio              3202 non-null   float64
 16  age_30_3_ratio               3202 non-null   float64
 17  age_40_49_ratio              3202 non-null   float64
 18  age_50_59_ratio              3202 non-null   float64
 19  age_60_69_ratio              3202 non-null   float64
 20  age_70_79_ratio              3202 non-null   float64
 21  age_80_and_older_ratio       3202 non-null   float64
dtypes: float64(22)
memory usage: 590.1+ KB

In [87]:
# extract population column with location key index for later feature engineering

df_population = us_demographics[['population']]

### Clean us_health dataset

In [89]:
# identify columns to drop

us_health.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3075 entries, US_AK to US_WY_56045
Data columns (total 15 columns):
 #   Column                                Non-Null Count  Dtype
---  ------                                --------------  -----
 0   Unnamed: 0.1                          3075 non-null   int64
 1   Unnamed: 0                            3075 non-null   int64
 2   life_expectancy                       3075 non-null   float64
 3   smoking_prevalence                    0 non-null      float64
 4   diabetes_prevalence                   0 non-null      float64
 5   infant_mortality_rate                 0 non-null      float64
 6   adult_male_mortality_rate             0 non-null      float64
 7   adult_female_mortality_rate           0 non-null      float64
 8   pollution_mortality_rate              0 non-null      float64
 9   comorbidity_mortality_rate            0 non-null      float64
 10  hospital_beds_per_1000                0 non-null      float64
 11  nurses_per_1000                       0 non-null      float64
 12  physicians_per_1000                   0 non-null      float64
 13  health_expenditure_usd                0 non-null      float64
 14  out_of_pocket_health_expenditure_usd  0 non-null      float64
dtypes: float64(13), int64(2)
memory usage: 384.4+ KB

In [90]:
# life_expectancy only useful column in health dataset

us_health = us_health[['life_expectancy']]

### Extract vaccination data from time based dataset for modeling and inferential analysis

In [91]:
us_vaccinations.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1624891 entries, US_AK to US_WY_56045
Data columns (total 33 columns):
 #   Column                                         Non-Null Count    Dtype
---  ------                                         --------------    -----
 0   Unnamed: 0.1                                   1624891 non-null  int64
 1   Unnamed: 0                                     1624891 non-null  int64
 2   date                                           1624891 non-null  object
 3   new_persons_vaccinated                         33325 non-null    float64
 4   cumulative_persons_vaccinated                  33382 non-null    float64
 5   new_persons_fully_vaccinated                   1621498 non-null  float64
 6   cumulative_persons_fully_vaccinated            1624725 non-null  float64
 7   new_vaccine_doses_administered                 33422 non-null    float64
 8   cumulative_vaccine_doses_administered          33479 non-null    float64
 9   new_persons_vaccinated_pfizer                  0 non-null        float64
 10  cumulative_persons_vaccinated_pfizer           0 non-null        float64
 11  new_persons_fully_vaccinated_pfizer            30352 non-null    float64
 12  cumulative_persons_fully_vaccinated_pfizer     30408 non-null    float64
 13  new_vaccine_doses_administered_pfizer          30352 non-null    float64
 14  cumulative_vaccine_doses_administered_pfizer   30408 non-null    float64
 15  new_persons_vaccinated_moderna                 0 non-null        float64
 16  cumulative_persons_vaccinated_moderna          0 non-null        float64
 17  new_persons_fully_vaccinated_moderna           30352 non-null    float64
 18  cumulative_persons_fully_vaccinated_moderna    30408 non-null    float64
 19  new_vaccine_doses_administered_moderna         30352 non-null    float64
 20  cumulative_vaccine_doses_administered_moderna  30408 non-null    float64
 21  new_persons_vaccinated_janssen                 0 non-null        float64
 22  cumulative_persons_vaccinated_janssen          0 non-null        float64
 23  new_persons_fully_vaccinated_janssen           30352 non-null    float64
 24  cumulative_persons_fully_vaccinated_janssen    30408 non-null    float64
 25  new_vaccine_doses_administered_janssen         30352 non-null    float64
 26  cumulative_vaccine_doses_administered_janssen  30408 non-null    float64
 27  new_persons_vaccinated_sinovac                 0 non-null        float64
 28  total_persons_vaccinated_sinovac               0 non-null        float64
 29  new_persons_fully_vaccinated_sinovac           0 non-null        float64
 30  total_persons_fully_vaccinated_sinovac         0 non-null        float64
 31  new_vaccine_doses_administered_sinovac         0 non-null        float64
 32  total_vaccine_doses_administered_sinovac       0 non-null        float64
dtypes: float64(30), int64(2), object(1)
memory usage: 421.5+ MB

In [92]:
# Merge 2020 Census population to us_vaccination dataset 

us_vaccinations = us_vaccinations.join(df_population)

In [93]:
# Normalize 'cumulative_persons_fully_vaccinated' with population by county data

us_vaccinations['vax_pop_ratio'] = us_vaccinations['cumulative_persons_fully_vaccinated'] / us_vaccinations['population']

In [94]:
# first merge will not include vaccination data

us_vaccinations_2 = us_vaccinations.loc[us_vaccinations.date == '2021-09-01', ['cumulative_persons_fully_vaccinated', 'vax_pop_ratio']]
us_vaccinations_3 = us_vaccinations.loc[us_vaccinations.date == '2022-05-13', ['cumulative_persons_fully_vaccinated', 'vax_pop_ratio']]

In [95]:
us_vaccinations_3.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3278 entries, US_AK to US_WY_56045
Data columns (total 2 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   cumulative_persons_fully_vaccinated  3278 non-null   float64
 1   vax_pop_ratio                        3278 non-null   float64
dtypes: float64(2)
memory usage: 76.8+ KB

### Extract time series vaccination data for forecasting model

In [96]:
# filter by desired time series (time frame where desired features and target has good data)

us_vaccinations_ts = us_vaccinations.loc[(us_vaccinations.date > '2021-05-01') & (us_vaccinations.date < '2022-05-13')]

In [97]:
# check if more vax data available for desired timeframe

us_vaccinations_ts.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1232278 entries, US_AK to US_WY_56045
Data columns (total 35 columns):
 #   Column                                         Non-Null Count    Dtype
---  ------                                         --------------    -----
 0   Unnamed: 0.1                                   1232278 non-null  int64
 1   Unnamed: 0                                     1232278 non-null  int64
 2   date                                           1232278 non-null  object
 3   new_persons_vaccinated                         21056 non-null    float64
 4   cumulative_persons_vaccinated                  21056 non-null    float64
 5   new_persons_fully_vaccinated                   1232277 non-null  float64
 6   cumulative_persons_fully_vaccinated            1232278 non-null  float64
 7   new_vaccine_doses_administered                 21056 non-null    float64
 8   cumulative_vaccine_doses_administered          21056 non-null    float64
 9   new_persons_vaccinated_pfizer                  0 non-null        float64
 10  cumulative_persons_vaccinated_pfizer           0 non-null        float64
 11  new_persons_fully_vaccinated_pfizer            21056 non-null    float64
 12  cumulative_persons_fully_vaccinated_pfizer     21056 non-null    float64
 13  new_vaccine_doses_administered_pfizer          21056 non-null    float64
 14  cumulative_vaccine_doses_administered_pfizer   21056 non-null    float64
 15  new_persons_vaccinated_moderna                 0 non-null        float64
 16  cumulative_persons_vaccinated_moderna          0 non-null        float64
 17  new_persons_fully_vaccinated_moderna           21056 non-null    float64
 18  cumulative_persons_fully_vaccinated_moderna    21056 non-null    float64
 19  new_vaccine_doses_administered_moderna         21056 non-null    float64
 20  cumulative_vaccine_doses_administered_moderna  21056 non-null    float64
 21  new_persons_vaccinated_janssen                 0 non-null        float64
 22  cumulative_persons_vaccinated_janssen          0 non-null        float64
 23  new_persons_fully_vaccinated_janssen           21056 non-null    float64
 24  cumulative_persons_fully_vaccinated_janssen    21056 non-null    float64
 25  new_vaccine_doses_administered_janssen         21056 non-null    float64
 26  cumulative_vaccine_doses_administered_janssen  21056 non-null    float64
 27  new_persons_vaccinated_sinovac                 0 non-null        float64
 28  total_persons_vaccinated_sinovac               0 non-null        float64
 29  new_persons_fully_vaccinated_sinovac           0 non-null        float64
 30  total_persons_fully_vaccinated_sinovac         0 non-null        float64
 31  new_vaccine_doses_administered_sinovac         0 non-null        float64
 32  total_vaccine_doses_administered_sinovac       0 non-null        float64
 33  population                                     1232278 non-null  float64
 34  vax_pop_ratio                                  1232278 non-null  float64
dtypes: float64(32), int64(2), object(1)
memory usage: 338.5+ MB

In [98]:
# save dataframe for future v merging

us_vaccinations_ts = us_vaccinations_ts[['date', 'cumulative_persons_fully_vaccinated', 'vax_pop_ratio']]

### Extract government response data from time based dataset for modeling and inferential analysis

In [99]:
# see data quality

us_government_response.info()

<class 'pandas.core.frame.DataFrame'>
Index: 47299 entries, US_AK to US_WY
Data columns (total 23 columns):
 #   Column                              Non-Null Count  Dtype
---  ------                              --------------  -----
 0   Unnamed: 0.1                        47299 non-null  int64
 1   Unnamed: 0                          47299 non-null  int64
 2   date                                47299 non-null  object
 3   school_closing                      47298 non-null  float64
 4   workplace_closing                   47299 non-null  float64
 5   cancel_public_events                47299 non-null  float64
 6   restrictions_on_gatherings          47299 non-null  float64
 7   public_transport_closing            47291 non-null  float64
 8   stay_at_home_requirements           47299 non-null  float64
 9   restrictions_on_internal_movement   47293 non-null  float64
 10  international_travel_controls       47284 non-null  float64
 11  income_support                      47294 non-null  float64
 12  debt_relief                         47249 non-null  float64
 13  fiscal_measures                     12047 non-null  float64
 14  international_support               11919 non-null  float64
 15  public_information_campaigns        47296 non-null  float64
 16  testing_policy                      47296 non-null  float64
 17  contact_tracing                     47284 non-null  float64
 18  emergency_investment_in_healthcare  11851 non-null  float64
 19  investment_in_vaccines              13868 non-null  float64
 20  facial_coverings                    47293 non-null  float64
 21  vaccination_policy                  47289 non-null  float64
 22  stringency_index                    47293 non-null  float64
dtypes: float64(20), int64(2), object(1)
memory usage: 8.7+ MB

In [100]:
# dataset location_key is by state, not county like the rest of the data.  Set the index as gr_key to merge on later

us_government_response.index.name

'location_key'

In [101]:
us_government_response.index.name = 'gr_key'

In [102]:
# Drop incomplete data rows and stringency index as its a combination of several other features

us_government_response.drop(axis = 1, columns = ['Unnamed: 0.1',
                                                 'Unnamed: 0',
                                                 'fiscal_measures',
                                                 'international_support',
                                                 'emergency_investment_in_healthcare', 
                                                 'investment_in_vaccines',
                                                 'stringency_index'
                                                ], 
                            inplace = True)

In [103]:
# Create three us_government_response datasets for merging later

us_government_response_1 = us_government_response.loc[us_government_response.date == '2021-01-01']
us_government_response_2 = us_government_response.loc[us_government_response.date == '2021-09-01']
us_government_response_3 = us_government_response.loc[us_government_response.date == '2022-05-13']

In [104]:
us_government_response_1.info()

<class 'pandas.core.frame.DataFrame'>
Index: 51 entries, US_AK to US_WY
Data columns (total 16 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   date                               51 non-null     object
 1   school_closing                     51 non-null     float64
 2   workplace_closing                  51 non-null     float64
 3   cancel_public_events               51 non-null     float64
 4   restrictions_on_gatherings         51 non-null     float64
 5   public_transport_closing           51 non-null     float64
 6   stay_at_home_requirements          51 non-null     float64
 7   restrictions_on_internal_movement  51 non-null     float64
 8   international_travel_controls      51 non-null     float64
 9   income_support                     51 non-null     float64
 10  debt_relief                        51 non-null     float64
 11  public_information_campaigns       51 non-null     float64
 12  testing_policy                     51 non-null     float64
 13  contact_tracing                    51 non-null     float64
 14  facial_coverings                   51 non-null     float64
 15  vaccination_policy                 51 non-null     float64
dtypes: float64(15), object(1)
memory usage: 6.8+ KB

### Extract time series government response data for forecasting model

In [105]:
# filter by desired time series (time frame where desired features and target has good data)

us_government_response_ts = us_government_response.loc[(us_government_response.date > '2021-05-01') & (us_government_response.date < '2022-05-13')]

In [106]:
# check if more vax data available for desired timeframe

us_government_response_ts.info()

<class 'pandas.core.frame.DataFrame'>
Index: 19176 entries, US_AK to US_WY
Data columns (total 16 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   date                               19176 non-null  object
 1   school_closing                     19175 non-null  float64
 2   workplace_closing                  19176 non-null  float64
 3   cancel_public_events               19176 non-null  float64
 4   restrictions_on_gatherings         19176 non-null  float64
 5   public_transport_closing           19168 non-null  float64
 6   stay_at_home_requirements          19176 non-null  float64
 7   restrictions_on_internal_movement  19170 non-null  float64
 8   international_travel_controls      19163 non-null  float64
 9   income_support                     19176 non-null  float64
 10  debt_relief                        19131 non-null  float64
 11  public_information_campaigns       19173 non-null  float64
 12  testing_policy                     19174 non-null  float64
 13  contact_tracing                    19166 non-null  float64
 14  facial_coverings                   19175 non-null  float64
 15  vaccination_policy                 19172 non-null  float64
dtypes: float64(15), object(1)
memory usage: 2.5+ MB

### Extract weather data from time based dataset for modeling and inferential analysis

In [107]:
# see data quality

us_weather.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3240613 entries, US_AK to US_WY_56045
Data columns (total 10 columns):
 #   Column                       Dtype
---  ------                       -----
 0   Unnamed: 0.1                 int64
 1   Unnamed: 0                   int64
 2   date                         object
 3   average_temperature_celsius  float64
 4   minimum_temperature_celsius  float64
 5   maximum_temperature_celsius  float64
 6   rainfall_mm                  float64
 7   snowfall_mm                  float64
 8   dew_point                    float64
 9   relative_humidity            float64
dtypes: float64(7), int64(2), object(1)
memory usage: 272.0+ MB

In [108]:
# Create three weather datasets for merging later

us_weather_1 = us_weather.loc[us_weather.date == '2021-01-01']
us_weather_2 = us_weather.loc[us_weather.date == '2021-09-01']
us_weather_3 = us_weather.loc[us_weather.date == '2022-05-13']

In [109]:
us_weather_1.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3280 entries, US_AK to US_WY_56045
Data columns (total 10 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Unnamed: 0.1                 3280 non-null   int64
 1   Unnamed: 0                   3280 non-null   int64
 2   date                         3280 non-null   object
 3   average_temperature_celsius  3280 non-null   float64
 4   minimum_temperature_celsius  3280 non-null   float64
 5   maximum_temperature_celsius  3280 non-null   float64
 6   rainfall_mm                  3280 non-null   float64
 7   snowfall_mm                  874 non-null    float64
 8   dew_point                    3278 non-null   float64
 9   relative_humidity            3278 non-null   float64
dtypes: float64(7), int64(2), object(1)
memory usage: 281.9+ KB

In [110]:
# Clean weather datasets, drop unnecessary index columns and set null snowfall cells to 0

us_weather_1 = us_weather_1.drop(axis = 1, columns = ['Unnamed: 0.1','Unnamed: 0'])
us_weather_2 = us_weather_2.drop(axis = 1, columns = ['Unnamed: 0.1','Unnamed: 0'])
us_weather_3 = us_weather_3.drop(axis = 1, columns = ['Unnamed: 0.1','Unnamed: 0'])

In [111]:
us_weather_1.loc[(us_weather_1['snowfall_mm'].isnull()), ['snowfall_mm']] = 0
us_weather_2.loc[(us_weather_2['snowfall_mm'].isnull()), ['snowfall_mm']] = 0
us_weather_3.loc[(us_weather_3['snowfall_mm'].isnull()), ['snowfall_mm']] = 0

### Extract time series weather data for forecasting model

In [112]:
# filter by desired time series (time frame where desired features and target has good data)

us_weather_ts = us_weather.loc[(us_weather.date > '2021-05-01') & (us_weather.date < '2022-05-13')]

In [113]:
# check null count over desired timeframe

us_weather_ts.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1233280 entries, US_AK to US_WY_56045
Data columns (total 10 columns):
 #   Column                       Non-Null Count    Dtype
---  ------                       --------------    -----
 0   Unnamed: 0.1                 1233280 non-null  int64
 1   Unnamed: 0                   1233280 non-null  int64
 2   date                         1233280 non-null  object
 3   average_temperature_celsius  1233280 non-null  float64
 4   minimum_temperature_celsius  1233280 non-null  float64
 5   maximum_temperature_celsius  1233228 non-null  float64
 6   rainfall_mm                  1233275 non-null  float64
 7   snowfall_mm                  83967 non-null    float64
 8   dew_point                    1232487 non-null  float64
 9   relative_humidity            1232487 non-null  float64
dtypes: float64(7), int64(2), object(1)
memory usage: 103.5+ MB

In [114]:
# save dataframe for future merging

us_weather_ts = us_weather_ts[['date', 'average_temperature_celsius', 'rainfall_mm', 'snowfall_mm', 'relative_humidity']]
us_weather_ts.loc[(us_weather_ts['snowfall_mm'].isnull()), ['snowfall_mm']] = 0

### Extract epidemiology from time based dataset for modeling and inferential analysis

In [115]:
# View data quality

us_epidemiology.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2550043 entries, US_AK to US_WY_56045
Data columns (total 11 columns):
 #   Column                Dtype
---  ------                -----
 0   Unnamed: 0.1          int64
 1   Unnamed: 0            int64
 2   date                  object
 3   new_confirmed         float64
 4   new_deceased          float64
 5   new_recovered         float64
 6   new_tested            float64
 7   cumulative_confirmed  float64
 8   cumulative_deceased   float64
 9   cumulative_recovered  float64
 10  cumulative_tested     float64
dtypes: float64(8), int64(2), object(1)
memory usage: 233.5+ MB

In [116]:
# Merge 2020 Census population to us_epidemiology dataset 

us_epidemiology = us_epidemiology.join(df_population)

In [117]:
# Normalize 'cumulative_persons_fully_vaccinated' with population by county data

us_epidemiology['cov_confirmed_pop_ratio'] = us_epidemiology['cumulative_confirmed'] / us_epidemiology['population']
us_epidemiology['deceased_pop_ratio'] = us_epidemiology['cumulative_deceased'] / us_epidemiology['population']

In [118]:
# Create three epidemiology datasets for merging later

us_epidemiology_1 = us_epidemiology.loc[us_epidemiology.date == '2021-01-01', ['new_confirmed', 'new_deceased', 'cumulative_confirmed', 
                                                                               'cumulative_deceased', 'cov_confirmed_pop_ratio', 'deceased_pop_ratio']]
us_epidemiology_2 = us_epidemiology.loc[us_epidemiology.date == '2021-09-01', ['new_confirmed', 'new_deceased', 'cumulative_confirmed', 
                                                                               'cumulative_deceased', 'cov_confirmed_pop_ratio', 'deceased_pop_ratio']]
us_epidemiology_3 = us_epidemiology.loc[us_epidemiology.date == '2022-05-13', ['new_confirmed', 'new_deceased', 'cumulative_confirmed', 
                                                                               'cumulative_deceased', 'cov_confirmed_pop_ratio', 'deceased_pop_ratio']]

In [119]:
# Use this cell to find last day for good epidemiology data

us_epidemiology_3 = us_epidemiology.loc[us_epidemiology.date == '2022-05-13', ['new_confirmed', 'new_deceased', 'cumulative_confirmed', 
                                                                               'cumulative_deceased', 'cov_confirmed_pop_ratio', 'deceased_pop_ratio']]
us_epidemiology_3.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3280 entries, US_AK to US_WY_56045
Data columns (total 6 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   new_confirmed            3280 non-null   float64
 1   new_deceased             3201 non-null   float64
 2   cumulative_confirmed     3280 non-null   float64
 3   cumulative_deceased      3201 non-null   float64
 4   cov_confirmed_pop_ratio  3280 non-null   float64
 5   deceased_pop_ratio       3201 non-null   float64
dtypes: float64(6)
memory usage: 179.4+ KB

### Extract time series epidemiology data for forecasting model

In [120]:
# filter by desired time series (time frame where desired features and target has good data)

us_epidemiology_ts = us_epidemiology.loc[(us_epidemiology.date > '2021-05-01') & (us_epidemiology.date < '2022-05-13')]

In [121]:
us_epidemiology_ts.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1233280 entries, US_AK to US_WY_56045
Data columns (total 14 columns):
 #   Column                   Non-Null Count    Dtype
---  ------                   --------------    -----
 0   Unnamed: 0.1             1233280 non-null  int64
 1   Unnamed: 0               1233280 non-null  int64
 2   date                     1233280 non-null  object
 3   new_confirmed            1233280 non-null  float64
 4   new_deceased             1203576 non-null  float64
 5   new_recovered            219 non-null      float64
 6   new_tested               973 non-null      float64
 7   cumulative_confirmed     1233280 non-null  float64
 8   cumulative_deceased      1203576 non-null  float64
 9   cumulative_recovered     219 non-null      float64
 10  cumulative_tested        973 non-null      float64
 11  population               1233280 non-null  float64
 12  cov_confirmed_pop_ratio  1233280 non-null  float64
 13  deceased_pop_ratio       1203576 non-null  float64
dtypes: float64(11), int64(2), object(1)
memory usage: 141.1+ MB

In [122]:
# Save datafram for future merging

us_epidemiology_ts = us_epidemiology_ts[['date', 'cumulative_confirmed', 'cov_confirmed_pop_ratio']]

## Merge datasets

### Merge first set of datasets 2021-01-01

In [153]:
# concat county level datasets 
# merge us_government_response on previously created 'gr_key' to assign state level response values to respective counties

merged_1 = pd.concat([us_index, us_demographics, us_health, us_weather_1, us_epidemiology_1], axis = 1, join = 'inner')
merged_1['gr_key'] = merged_1.index.str[:5]
merged_1 = pd.merge(us_government_response_1, merged_1, how = 'right', on = 'gr_key')

In [154]:
merged_1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3014 entries, 0 to 3013
Data columns (total 55 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   gr_key                             3014 non-null   object
 1   date_x                             3014 non-null   object
 2   school_closing                     3014 non-null   float64
 3   workplace_closing                  3014 non-null   float64
 4   cancel_public_events               3014 non-null   float64
 5   restrictions_on_gatherings         3014 non-null   float64
 6   public_transport_closing           3014 non-null   float64
 7   stay_at_home_requirements          3014 non-null   float64
 8   restrictions_on_internal_movement  3014 non-null   float64
 9   international_travel_controls      3014 non-null   float64
 10  income_support                     3014 non-null   float64
 11  debt_relief                        3014 non-null   float64
 12  public_information_campaigns       3014 non-null   float64
 13  testing_policy                     3014 non-null   float64
 14  contact_tracing                    3014 non-null   float64
 15  facial_coverings                   3014 non-null   float64
 16  vaccination_policy                 3014 non-null   float64
 17  subregion2_name                    3014 non-null   object
 18  population                         3014 non-null   float64
 19  population_male                    3014 non-null   float64
 20  population_female                  3014 non-null   float64
 21  population_age_00_09               3014 non-null   float64
 22  population_age_10_19               3014 non-null   float64
 23  population_age_20_29               3014 non-null   float64
 24  population_age_30_39               3014 non-null   float64
 25  population_age_40_49               3014 non-null   float64
 26  population_age_50_59               3014 non-null   float64
 27  population_age_60_69               3014 non-null   float64
 28  population_age_70_79               3014 non-null   float64
 29  population_age_80_and_older        3014 non-null   float64
 30  male_female_ratio                  3014 non-null   float64
 31  age_00_09_ratio                    3014 non-null   float64
 32  age_10_19_ratio                    3014 non-null   float64
 33  age_20_29_ratio                    3014 non-null   float64
 34  age_30_3_ratio                     3014 non-null   float64
 35  age_40_49_ratio                    3014 non-null   float64
 36  age_50_59_ratio                    3014 non-null   float64
 37  age_60_69_ratio                    3014 non-null   float64
 38  age_70_79_ratio                    3014 non-null   float64
 39  age_80_and_older_ratio             3014 non-null   float64
 40  life_expectancy                    3014 non-null   float64
 41  date_y                             3014 non-null   object
 42  average_temperature_celsius        3014 non-null   float64
 43  minimum_temperature_celsius        3014 non-null   float64
 44  maximum_temperature_celsius        3014 non-null   float64
 45  rainfall_mm                        3014 non-null   float64
 46  snowfall_mm                        3014 non-null   float64
 47  dew_point                          3013 non-null   float64
 48  relative_humidity                  3013 non-null   float64
 49  new_confirmed                      3014 non-null   float64
 50  new_deceased                       3014 non-null   float64
 51  cumulative_confirmed               3014 non-null   float64
 52  cumulative_deceased                3014 non-null   float64
 53  cov_confirmed_pop_ratio            3014 non-null   float64
 54  deceased_pop_ratio                 3014 non-null   float64
dtypes: float64(51), object(4)
memory usage: 1.3+ MB

In [155]:
# Create merged dataset with ratio demographic values to compare with raw data

merged_1_ratio = merged_1.drop(axis = 1, columns = ['subregion2_name','date_x','minimum_temperature_celsius','maximum_temperature_celsius',
                                                    'relative_humidity','gr_key', 'date_y', 'population','population_male', 'population_female',
                                                    'population_age_00_09','population_age_10_19','population_age_20_29','population_age_30_39', 
                                                    'population_age_40_49','population_age_50_59','population_age_60_69','population_age_70_79',
                                                    'population_age_80_and_older'
                                                   ])
merged_1_ratio.dropna(inplace = True)

In [156]:
# Double check columns

merged_1_ratio.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3013 entries, 0 to 3013
Data columns (total 36 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   school_closing                     3013 non-null   float64
 1   workplace_closing                  3013 non-null   float64
 2   cancel_public_events               3013 non-null   float64
 3   restrictions_on_gatherings         3013 non-null   float64
 4   public_transport_closing           3013 non-null   float64
 5   stay_at_home_requirements          3013 non-null   float64
 6   restrictions_on_internal_movement  3013 non-null   float64
 7   international_travel_controls      3013 non-null   float64
 8   income_support                     3013 non-null   float64
 9   debt_relief                        3013 non-null   float64
 10  public_information_campaigns       3013 non-null   float64
 11  testing_policy                     3013 non-null   float64
 12  contact_tracing                    3013 non-null   float64
 13  facial_coverings                   3013 non-null   float64
 14  vaccination_policy                 3013 non-null   float64
 15  male_female_ratio                  3013 non-null   float64
 16  age_00_09_ratio                    3013 non-null   float64
 17  age_10_19_ratio                    3013 non-null   float64
 18  age_20_29_ratio                    3013 non-null   float64
 19  age_30_3_ratio                     3013 non-null   float64
 20  age_40_49_ratio                    3013 non-null   float64
 21  age_50_59_ratio                    3013 non-null   float64
 22  age_60_69_ratio                    3013 non-null   float64
 23  age_70_79_ratio                    3013 non-null   float64
 24  age_80_and_older_ratio             3013 non-null   float64
 25  life_expectancy                    3013 non-null   float64
 26  average_temperature_celsius        3013 non-null   float64
 27  rainfall_mm                        3013 non-null   float64
 28  snowfall_mm                        3013 non-null   float64
 29  dew_point                          3013 non-null   float64
 30  new_confirmed                      3013 non-null   float64
 31  new_deceased                       3013 non-null   float64
 32  cumulative_confirmed               3013 non-null   float64
 33  cumulative_deceased                3013 non-null   float64
 34  cov_confirmed_pop_ratio            3013 non-null   float64
 35  deceased_pop_ratio                 3013 non-null   float64
dtypes: float64(36)
memory usage: 870.9 KB

In [157]:
# Drop unnecessary and redudant columns, drop ratio features, then dropna()

merged_1.drop(axis = 1, columns = ['subregion2_name','date_x','minimum_temperature_celsius','maximum_temperature_celsius','relative_humidity',
                                   'gr_key', 'date_y','male_female_ratio','age_00_09_ratio','age_10_19_ratio','age_20_29_ratio','age_30_3_ratio',
                                   'age_40_49_ratio','age_50_59_ratio','age_60_69_ratio','age_70_79_ratio','age_80_and_older_ratio','cov_confirmed_pop_ratio',
                                   'deceased_pop_ratio'
                                  ],
              inplace = True)

merged_1.dropna(inplace = True)

In [158]:
# Double check columns

merged_1.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3013 entries, 0 to 3013
Data columns (total 36 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   school_closing                     3013 non-null   float64
 1   workplace_closing                  3013 non-null   float64
 2   cancel_public_events               3013 non-null   float64
 3   restrictions_on_gatherings         3013 non-null   float64
 4   public_transport_closing           3013 non-null   float64
 5   stay_at_home_requirements          3013 non-null   float64
 6   restrictions_on_internal_movement  3013 non-null   float64
 7   international_travel_controls      3013 non-null   float64
 8   income_support                     3013 non-null   float64
 9   debt_relief                        3013 non-null   float64
 10  public_information_campaigns       3013 non-null   float64
 11  testing_policy                     3013 non-null   float64
 12  contact_tracing                    3013 non-null   float64
 13  facial_coverings                   3013 non-null   float64
 14  vaccination_policy                 3013 non-null   float64
 15  population                         3013 non-null   float64
 16  population_male                    3013 non-null   float64
 17  population_female                  3013 non-null   float64
 18  population_age_00_09               3013 non-null   float64
 19  population_age_10_19               3013 non-null   float64
 20  population_age_20_29               3013 non-null   float64
 21  population_age_30_39               3013 non-null   float64
 22  population_age_40_49               3013 non-null   float64
 23  population_age_50_59               3013 non-null   float64
 24  population_age_60_69               3013 non-null   float64
 25  population_age_70_79               3013 non-null   float64
 26  population_age_80_and_older        3013 non-null   float64
 27  life_expectancy                    3013 non-null   float64
 28  average_temperature_celsius        3013 non-null   float64
 29  rainfall_mm                        3013 non-null   float64
 30  snowfall_mm                        3013 non-null   float64
 31  dew_point                          3013 non-null   float64
 32  new_confirmed                      3013 non-null   float64
 33  new_deceased                       3013 non-null   float64
 34  cumulative_confirmed               3013 non-null   float64
 35  cumulative_deceased                3013 non-null   float64
dtypes: float64(36)
memory usage: 870.9 KB

In [159]:
# save merged_1 for future use

merged_1_ratio.to_csv('../us_datasets/merged_1_ratio.csv')

In [160]:
# save merged_1 for future use

merged_1.to_csv('../us_datasets/merged_1.csv')

### Merge second set of datasets 2021-09-01

In [172]:
# concat county level datasets 
# merge us_government_response on previously created 'gr_key' to assign state level response values to respective counties

merged_2 = pd.concat([us_index, us_demographics, us_health, us_vaccinations_2, us_weather_2, us_epidemiology_1], axis = 1, join = 'inner')
merged_2['gr_key'] = merged_2.index.str[:5]
merged_2 = pd.merge(us_government_response_2, merged_2, how = 'right', on = 'gr_key')

In [173]:
merged_2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3013 entries, 0 to 3012
Data columns (total 57 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   gr_key                               3013 non-null   object
 1   date_x                               3013 non-null   object
 2   school_closing                       3013 non-null   float64
 3   workplace_closing                    3013 non-null   float64
 4   cancel_public_events                 3013 non-null   float64
 5   restrictions_on_gatherings           3013 non-null   float64
 6   public_transport_closing             3013 non-null   float64
 7   stay_at_home_requirements            3013 non-null   float64
 8   restrictions_on_internal_movement    3013 non-null   float64
 9   international_travel_controls        3013 non-null   float64
 10  income_support                       3013 non-null   float64
 11  debt_relief                          3013 non-null   float64
 12  public_information_campaigns         3013 non-null   float64
 13  testing_policy                       3013 non-null   float64
 14  contact_tracing                      3013 non-null   float64
 15  facial_coverings                     3013 non-null   float64
 16  vaccination_policy                   3013 non-null   float64
 17  subregion2_name                      3013 non-null   object
 18  population                           3013 non-null   float64
 19  population_male                      3013 non-null   float64
 20  population_female                    3013 non-null   float64
 21  population_age_00_09                 3013 non-null   float64
 22  population_age_10_19                 3013 non-null   float64
 23  population_age_20_29                 3013 non-null   float64
 24  population_age_30_39                 3013 non-null   float64
 25  population_age_40_49                 3013 non-null   float64
 26  population_age_50_59                 3013 non-null   float64
 27  population_age_60_69                 3013 non-null   float64
 28  population_age_70_79                 3013 non-null   float64
 29  population_age_80_and_older          3013 non-null   float64
 30  male_female_ratio                    3013 non-null   float64
 31  age_00_09_ratio                      3013 non-null   float64
 32  age_10_19_ratio                      3013 non-null   float64
 33  age_20_29_ratio                      3013 non-null   float64
 34  age_30_3_ratio                       3013 non-null   float64
 35  age_40_49_ratio                      3013 non-null   float64
 36  age_50_59_ratio                      3013 non-null   float64
 37  age_60_69_ratio                      3013 non-null   float64
 38  age_70_79_ratio                      3013 non-null   float64
 39  age_80_and_older_ratio               3013 non-null   float64
 40  life_expectancy                      3013 non-null   float64
 41  cumulative_persons_fully_vaccinated  3013 non-null   float64
 42  vax_pop_ratio                        3013 non-null   float64
 43  date_y                               3013 non-null   object
 44  average_temperature_celsius          3013 non-null   float64
 45  minimum_temperature_celsius          3013 non-null   float64
 46  maximum_temperature_celsius          3013 non-null   float64
 47  rainfall_mm                          3013 non-null   float64
 48  snowfall_mm                          3013 non-null   float64
 49  dew_point                            3012 non-null   float64
 50  relative_humidity                    3012 non-null   float64
 51  new_confirmed                        3013 non-null   float64
 52  new_deceased                         3013 non-null   float64
 53  cumulative_confirmed                 3013 non-null   float64
 54  cumulative_deceased                  3013 non-null   float64
 55  cov_confirmed_pop_ratio              3013 non-null   float64
 56  deceased_pop_ratio                   3013 non-null   float64
dtypes: float64(53), object(4)
memory usage: 1.3+ MB

In [174]:
# Drop unnecessary and redudant columns, ratio columns, then dropna()

merged_2.drop(axis = 1, columns = ['subregion2_name','date_x','minimum_temperature_celsius','maximum_temperature_celsius','relative_humidity','gr_key', 
                                   'date_y','male_female_ratio','age_00_09_ratio','age_10_19_ratio','age_20_29_ratio','age_30_3_ratio',
                                   'age_40_49_ratio','age_50_59_ratio','age_60_69_ratio','age_70_79_ratio','age_80_and_older_ratio', 'vax_pop_ratio',
                                   'cov_confirmed_pop_ratio','deceased_pop_ratio'
                                  ],
              inplace = True)

merged_2.dropna(inplace = True)

In [175]:
merged_2.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3012 entries, 0 to 3012
Data columns (total 37 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   school_closing                       3012 non-null   float64
 1   workplace_closing                    3012 non-null   float64
 2   cancel_public_events                 3012 non-null   float64
 3   restrictions_on_gatherings           3012 non-null   float64
 4   public_transport_closing             3012 non-null   float64
 5   stay_at_home_requirements            3012 non-null   float64
 6   restrictions_on_internal_movement    3012 non-null   float64
 7   international_travel_controls        3012 non-null   float64
 8   income_support                       3012 non-null   float64
 9   debt_relief                          3012 non-null   float64
 10  public_information_campaigns         3012 non-null   float64
 11  testing_policy                       3012 non-null   float64
 12  contact_tracing                      3012 non-null   float64
 13  facial_coverings                     3012 non-null   float64
 14  vaccination_policy                   3012 non-null   float64
 15  population                           3012 non-null   float64
 16  population_male                      3012 non-null   float64
 17  population_female                    3012 non-null   float64
 18  population_age_00_09                 3012 non-null   float64
 19  population_age_10_19                 3012 non-null   float64
 20  population_age_20_29                 3012 non-null   float64
 21  population_age_30_39                 3012 non-null   float64
 22  population_age_40_49                 3012 non-null   float64
 23  population_age_50_59                 3012 non-null   float64
 24  population_age_60_69                 3012 non-null   float64
 25  population_age_70_79                 3012 non-null   float64
 26  population_age_80_and_older          3012 non-null   float64
 27  life_expectancy                      3012 non-null   float64
 28  cumulative_persons_fully_vaccinated  3012 non-null   float64
 29  average_temperature_celsius          3012 non-null   float64
 30  rainfall_mm                          3012 non-null   float64
 31  snowfall_mm                          3012 non-null   float64
 32  dew_point                            3012 non-null   float64
 33  new_confirmed                        3012 non-null   float64
 34  new_deceased                         3012 non-null   float64
 35  cumulative_confirmed                 3012 non-null   float64
 36  cumulative_deceased                  3012 non-null   float64
dtypes: float64(37)
memory usage: 894.2 KB

In [176]:
# save merged_2 for future use

merged_2.to_csv('../us_datasets/merged_2.csv')

### Merge third set of datasets 2022-05-13

In [177]:
# concat county level datasets 
# merge us_government_response on previously created 'gr_key' to assign state level response values to respective counties

merged_3 = pd.concat([us_index, us_demographics, us_health, us_vaccinations_3, us_weather_3, us_epidemiology_3], axis = 1, join = 'inner')
merged_3['gr_key'] = merged_3.index.str[:5]
merged_3 = pd.merge(us_government_response_3, merged_3, how = 'right', on = 'gr_key')

In [178]:
merged_3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3014 entries, 0 to 3013
Data columns (total 57 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   gr_key                               3014 non-null   object
 1   date_x                               3014 non-null   object
 2   school_closing                       3014 non-null   float64
 3   workplace_closing                    3014 non-null   float64
 4   cancel_public_events                 3014 non-null   float64
 5   restrictions_on_gatherings           3014 non-null   float64
 6   public_transport_closing             3014 non-null   float64
 7   stay_at_home_requirements            3014 non-null   float64
 8   restrictions_on_internal_movement    3014 non-null   float64
 9   international_travel_controls        3014 non-null   float64
 10  income_support                       3014 non-null   float64
 11  debt_relief                          3014 non-null   float64
 12  public_information_campaigns         3014 non-null   float64
 13  testing_policy                       3014 non-null   float64
 14  contact_tracing                      3014 non-null   float64
 15  facial_coverings                     3014 non-null   float64
 16  vaccination_policy                   3014 non-null   float64
 17  subregion2_name                      3014 non-null   object
 18  population                           3014 non-null   float64
 19  population_male                      3014 non-null   float64
 20  population_female                    3014 non-null   float64
 21  population_age_00_09                 3014 non-null   float64
 22  population_age_10_19                 3014 non-null   float64
 23  population_age_20_29                 3014 non-null   float64
 24  population_age_30_39                 3014 non-null   float64
 25  population_age_40_49                 3014 non-null   float64
 26  population_age_50_59                 3014 non-null   float64
 27  population_age_60_69                 3014 non-null   float64
 28  population_age_70_79                 3014 non-null   float64
 29  population_age_80_and_older          3014 non-null   float64
 30  male_female_ratio                    3014 non-null   float64
 31  age_00_09_ratio                      3014 non-null   float64
 32  age_10_19_ratio                      3014 non-null   float64
 33  age_20_29_ratio                      3014 non-null   float64
 34  age_30_3_ratio                       3014 non-null   float64
 35  age_40_49_ratio                      3014 non-null   float64
 36  age_50_59_ratio                      3014 non-null   float64
 37  age_60_69_ratio                      3014 non-null   float64
 38  age_70_79_ratio                      3014 non-null   float64
 39  age_80_and_older_ratio               3014 non-null   float64
 40  life_expectancy                      3014 non-null   float64
 41  cumulative_persons_fully_vaccinated  3014 non-null   float64
 42  vax_pop_ratio                        3014 non-null   float64
 43  date_y                               3014 non-null   object
 44  average_temperature_celsius          3014 non-null   float64
 45  minimum_temperature_celsius          3014 non-null   float64
 46  maximum_temperature_celsius          3014 non-null   float64
 47  rainfall_mm                          3014 non-null   float64
 48  snowfall_mm                          3014 non-null   float64
 49  dew_point                            3013 non-null   float64
 50  relative_humidity                    3013 non-null   float64
 51  new_confirmed                        3014 non-null   float64
 52  new_deceased                         3014 non-null   float64
 53  cumulative_confirmed                 3014 non-null   float64
 54  cumulative_deceased                  3014 non-null   float64
 55  cov_confirmed_pop_ratio              3014 non-null   float64
 56  deceased_pop_ratio                   3014 non-null   float64
dtypes: float64(53), object(4)
memory usage: 1.3+ MB

In [179]:
# Drop unnecessary and redudant columns then dropna()

merged_3.drop(axis = 1, columns = ['subregion2_name','date_x','minimum_temperature_celsius','maximum_temperature_celsius','relative_humidity','gr_key', 
                                   'date_y','male_female_ratio','age_00_09_ratio','age_10_19_ratio','age_20_29_ratio','age_30_3_ratio',
                                   'age_40_49_ratio','age_50_59_ratio','age_60_69_ratio','age_70_79_ratio','age_80_and_older_ratio', 'vax_pop_ratio',
                                   'cov_confirmed_pop_ratio','deceased_pop_ratio'
                                  ],
              inplace = True)

merged_3.dropna(inplace = True)

In [180]:
merged_3.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3013 entries, 0 to 3013
Data columns (total 37 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   school_closing                       3013 non-null   float64
 1   workplace_closing                    3013 non-null   float64
 2   cancel_public_events                 3013 non-null   float64
 3   restrictions_on_gatherings           3013 non-null   float64
 4   public_transport_closing             3013 non-null   float64
 5   stay_at_home_requirements            3013 non-null   float64
 6   restrictions_on_internal_movement    3013 non-null   float64
 7   international_travel_controls        3013 non-null   float64
 8   income_support                       3013 non-null   float64
 9   debt_relief                          3013 non-null   float64
 10  public_information_campaigns         3013 non-null   float64
 11  testing_policy                       3013 non-null   float64
 12  contact_tracing                      3013 non-null   float64
 13  facial_coverings                     3013 non-null   float64
 14  vaccination_policy                   3013 non-null   float64
 15  population                           3013 non-null   float64
 16  population_male                      3013 non-null   float64
 17  population_female                    3013 non-null   float64
 18  population_age_00_09                 3013 non-null   float64
 19  population_age_10_19                 3013 non-null   float64
 20  population_age_20_29                 3013 non-null   float64
 21  population_age_30_39                 3013 non-null   float64
 22  population_age_40_49                 3013 non-null   float64
 23  population_age_50_59                 3013 non-null   float64
 24  population_age_60_69                 3013 non-null   float64
 25  population_age_70_79                 3013 non-null   float64
 26  population_age_80_and_older          3013 non-null   float64
 27  life_expectancy                      3013 non-null   float64
 28  cumulative_persons_fully_vaccinated  3013 non-null   float64
 29  average_temperature_celsius          3013 non-null   float64
 30  rainfall_mm                          3013 non-null   float64
 31  snowfall_mm                          3013 non-null   float64
 32  dew_point                            3013 non-null   float64
 33  new_confirmed                        3013 non-null   float64
 34  new_deceased                         3013 non-null   float64
 35  cumulative_confirmed                 3013 non-null   float64
 36  cumulative_deceased                  3013 non-null   float64
dtypes: float64(37)
memory usage: 894.5 KB

In [181]:
# Save merged_3 for future use

merged_3.to_csv('../us_datasets/merged_3.csv')

### Merge forecasting time series dataset

In [183]:
# merge Census data

temp1 = pd.concat([us_index, us_demographics, us_health], axis = 1, join = 'inner')

In [184]:
# check merge

temp1.head(5)

,subregion2_name,population,population_male,population_female,population_age_00_09,population_age_10_19,population_age_20_29,population_age_30_39,population_age_40_49,population_age_50_59,...,age_00_09_ratio,age_10_19_ratio,age_20_29_ratio,age_30_3_ratio,age_40_49_ratio,age_50_59_ratio,age_60_69_ratio,age_70_79_ratio,age_80_and_older_ratio,life_expectancy
location_key,,,,,,,,,,,,,,,,,,,,,
US_AK_02013,Aleutians East,3455.0,2345.0,1110.0,178.0,165.0,571.0,532.0,792.0,696.0,...,0.051520,0.047757,0.165268,0.153980,0.229233,0.201447,0.092909,0.045152,0.012735,86.900000
US_AK_02016,Aleutians West,5729.0,3795.0,1934.0,359.0,400.0,951.0,957.0,1149.0,1146.0,...,0.062664,0.069820,0.165998,0.167045,0.200559,0.200035,0.108570,0.020597,0.004713,77.750000
US_AK_02020,Anchorage Municipality,294338.0,149817.0,144521.0,41514.0,37461.0,49984.0,45570.0,35093.0,37143.0,...,0.141042,0.127272,0.169818,0.154822,0.119227,0.126192,0.098292,0.043783,0.019552,78.034694
US_AK_02050,Bethel,18090.0,9369.0,8721.0,3888.0,3211.0,2833.0,2294.0,1682.0,2053.0,...,0.214925,0.177501,0.156606,0.126810,0.092980,0.113488,0.076175,0.031399,0.010116,78.733333
US_AK_02060,Bristol Bay,869.0,463.0,406.0,97.0,82.0,127.0,109.0,99.0,163.0,...,0.111623,0.094361,0.146145,0.125432,0.113924,0.187572,0.138090,0.055236,0.027618,79.900000

In [185]:
# Reset index to include date for merging

us_vaccinations_ts.set_index('date', append = True, inplace = True)
us_weather_ts.set_index('date', append = True, inplace = True)
us_epidemiology_ts.set_index('date', append = True, inplace = True)

In [186]:
# merge time based datasets together on the location_key date multi-index

temp2 = pd.concat([us_vaccinations_ts, us_weather_ts, us_epidemiology_ts], axis = 1, join = 'inner')

In [187]:
# check newly merged dataframe

temp2.head()

                         cumulative_persons_fully_vaccinated  vax_pop_ratio  \
location_key date
US_AK        2021-05-02                             262217.0       0.357541
             2021-05-03                             263603.0       0.359430
             2021-05-04                             263754.0       0.359636
             2021-05-05                             264565.0       0.360742
             2021-05-06                             265869.0       0.362520

                         average_temperature_celsius  rainfall_mm  \
location_key date
US_AK        2021-05-02                     3.506173     0.000000
             2021-05-03                     7.138889     0.000000
             2021-05-04                     8.555556     0.000000
             2021-05-05                     7.822222     0.592667
             2021-05-06                     7.555556     0.025400

                         snowfall_mm  relative_humidity  cumulative_confirmed  \
location_key date
US_AK        2021-05-02          0.0          42.768114               65720.0
             2021-05-03          0.0          35.238823               65815.0
             2021-05-04          0.0          41.138142               65961.0
             2021-05-05          0.0          56.346598               66056.0
             2021-05-06          0.0          56.786579               66173.0

                         cov_confirmed_pop_ratio
location_key date
US_AK        2021-05-02                 0.089611
             2021-05-03                 0.089741
             2021-05-04                 0.089940
             2021-05-05                 0.090069
             2021-05-06                 0.090229

In [188]:
# extract date and reset index to location_key to merge temp1 and temp2 on

temp2['date'] = temp2.index.get_level_values(1)
temp2.index = temp2.index.get_level_values(0)

In [189]:
# perform temp2 temp1 left merge on index

temp3 = pd.merge(temp2, temp1, how = 'left', left_index = True, right_index = True)

In [190]:
# Verify merge is correct

temp3.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1229270 entries, US_AK to US_WY_56045
Data columns (total 33 columns):
 #   Column                               Non-Null Count    Dtype
---  ------                               --------------    -----
 0   cumulative_persons_fully_vaccinated  1229270 non-null  float64
 1   vax_pop_ratio                        1229270 non-null  float64
 2   average_temperature_celsius          1229270 non-null  float64
 3   rainfall_mm                          1229265 non-null  float64
 4   snowfall_mm                          1229270 non-null  float64
 5   relative_humidity                    1228853 non-null  float64
 6   cumulative_confirmed                 1229270 non-null  float64
 7   cov_confirmed_pop_ratio              1229270 non-null  float64
 8   date                                 1229270 non-null  object
 9   subregion2_name                      1133014 non-null  object
 10  population                           1133014 non-null  float64
 11  population_male                      1133014 non-null  float64
 12  population_female                    1133014 non-null  float64
 13  population_age_00_09                 1133014 non-null  float64
 14  population_age_10_19                 1133014 non-null  float64
 15  population_age_20_29                 1133014 non-null  float64
 16  population_age_30_39                 1133014 non-null  float64
 17  population_age_40_49                 1133014 non-null  float64
 18  population_age_50_59                 1133014 non-null  float64
 19  population_age_60_69                 1133014 non-null  float64
 20  population_age_70_79                 1133014 non-null  float64
 21  population_age_80_and_older          1133014 non-null  float64
 22  male_female_ratio                    1133014 non-null  float64
 23  age_00_09_ratio                      1133014 non-null  float64
 24  age_10_19_ratio                      1133014 non-null  float64
 25  age_20_29_ratio                      1133014 non-null  float64
 26  age_30_3_ratio                       1133014 non-null  float64
 27  age_40_49_ratio                      1133014 non-null  float64
 28  age_50_59_ratio                      1133014 non-null  float64
 29  age_60_69_ratio                      1133014 non-null  float64
 30  age_70_79_ratio                      1133014 non-null  float64
 31  age_80_and_older_ratio               1133014 non-null  float64
 32  life_expectancy                      1133014 non-null  float64
dtypes: float64(31), object(2)
memory usage: 318.9+ MB

In [191]:
# create gr_merge column in temp3 and state indexed us_government_response

temp3['gr_merge'] = temp3.index.str[:5] + ' ' + temp3['date']
us_government_response_ts['gr_merge'] = us_government_response_ts.index.values + ' ' + us_government_response_ts['date']

/var/folders/qy/nr1f_j6j7nx50jtp9tqqgftc0000gn/T/ipykernel_3236/4046448643.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  us_government_response_ts['gr_merge'] = us_government_response_ts.index.values + ' ' + us_government_response_ts['date']

In [194]:
# Check warning, Verify gr_merge was created correctly, save location_key in seperate column so it doesn't get lost during merges

temp3['location_key'] = temp3.index
temp3.head()

,cumulative_persons_fully_vaccinated,vax_pop_ratio,average_temperature_celsius,rainfall_mm,snowfall_mm,relative_humidity,cumulative_confirmed,cov_confirmed_pop_ratio,date,subregion2_name,...,age_20_29_ratio,age_30_3_ratio,age_40_49_ratio,age_50_59_ratio,age_60_69_ratio,age_70_79_ratio,age_80_and_older_ratio,life_expectancy,gr_merge,location_key
location_key,,,,,,,,,,,,,,,,,,,,,
US_AK,262217.0,0.357541,3.506173,0.000000,0.0,42.768114,65720.0,0.089611,2021-05-02,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,US_AK 2021-05-02,US_AK
US_AK,263603.0,0.359430,7.138889,0.000000,0.0,35.238823,65815.0,0.089741,2021-05-03,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,US_AK 2021-05-03,US_AK
US_AK,263754.0,0.359636,8.555556,0.000000,0.0,41.138142,65961.0,0.089940,2021-05-04,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,US_AK 2021-05-04,US_AK
US_AK,264565.0,0.360742,7.822222,0.592667,0.0,56.346598,66056.0,0.090069,2021-05-05,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,US_AK 2021-05-05,US_AK
US_AK,265869.0,0.362520,7.555556,0.025400,0.0,56.786579,66173.0,0.090229,2021-05-06,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,US_AK 2021-05-06,US_AK

**Null values in above table are intentional.  Will use dropna() to filter out state level rows, only include county level rows**

In [195]:
# Check warning, Verify gr_merge was created correctly

us_government_response_ts.head()

,date,school_closing,workplace_closing,cancel_public_events,restrictions_on_gatherings,public_transport_closing,stay_at_home_requirements,restrictions_on_internal_movement,international_travel_controls,income_support,debt_relief,public_information_campaigns,testing_policy,contact_tracing,facial_coverings,vaccination_policy,gr_merge
gr_key,,,,,,,,,,,,,,,,,
US_AK,2021-05-02,1.0,1.0,1.0,3.0,0.0,1.0,1.0,3.0,1.0,1.0,2.0,3.0,1.0,3.0,5.0,US_AK 2021-05-02
US_AK,2021-05-03,1.0,1.0,1.0,3.0,0.0,1.0,1.0,3.0,1.0,1.0,2.0,3.0,1.0,3.0,5.0,US_AK 2021-05-03
US_AK,2021-05-04,1.0,1.0,1.0,3.0,0.0,1.0,1.0,3.0,1.0,1.0,2.0,3.0,1.0,3.0,5.0,US_AK 2021-05-04
US_AK,2021-05-05,1.0,1.0,1.0,3.0,0.0,1.0,1.0,3.0,1.0,1.0,2.0,3.0,1.0,3.0,5.0,US_AK 2021-05-05
US_AK,2021-05-06,1.0,1.0,1.0,3.0,0.0,1.0,1.0,3.0,1.0,1.0,2.0,3.0,1.0,3.0,5.0,US_AK 2021-05-06

In [196]:
# Merge us_government_response_ts onto main dataframe

time_series_df = pd.merge(temp3, us_government_response_ts, how = 'left', on = 'gr_merge')

In [197]:
# Identify unnecessary columns

time_series_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1229270 entries, 0 to 1229269
Data columns (total 51 columns):
 #   Column                               Non-Null Count    Dtype
---  ------                               --------------    -----
 0   cumulative_persons_fully_vaccinated  1229270 non-null  float64
 1   vax_pop_ratio                        1229270 non-null  float64
 2   average_temperature_celsius          1229270 non-null  float64
 3   rainfall_mm                          1229265 non-null  float64
 4   snowfall_mm                          1229270 non-null  float64
 5   relative_humidity                    1228853 non-null  float64
 6   cumulative_confirmed                 1229270 non-null  float64
 7   cov_confirmed_pop_ratio              1229270 non-null  float64
 8   date_x                               1229270 non-null  object
 9   subregion2_name                      1133014 non-null  object
 10  population                           1133014 non-null  float64
 11  population_male                      1133014 non-null  float64
 12  population_female                    1133014 non-null  float64
 13  population_age_00_09                 1133014 non-null  float64
 14  population_age_10_19                 1133014 non-null  float64
 15  population_age_20_29                 1133014 non-null  float64
 16  population_age_30_39                 1133014 non-null  float64
 17  population_age_40_49                 1133014 non-null  float64
 18  population_age_50_59                 1133014 non-null  float64
 19  population_age_60_69                 1133014 non-null  float64
 20  population_age_70_79                 1133014 non-null  float64
 21  population_age_80_and_older          1133014 non-null  float64
 22  male_female_ratio                    1133014 non-null  float64
 23  age_00_09_ratio                      1133014 non-null  float64
 24  age_10_19_ratio                      1133014 non-null  float64
 25  age_20_29_ratio                      1133014 non-null  float64
 26  age_30_3_ratio                       1133014 non-null  float64
 27  age_40_49_ratio                      1133014 non-null  float64
 28  age_50_59_ratio                      1133014 non-null  float64
 29  age_60_69_ratio                      1133014 non-null  float64
 30  age_70_79_ratio                      1133014 non-null  float64
 31  age_80_and_older_ratio               1133014 non-null  float64
 32  life_expectancy                      1133014 non-null  float64
 33  gr_merge                             1229270 non-null  object
 34  location_key                         1229270 non-null  object
 35  date_y                               1198062 non-null  object
 36  school_closing                       1197807 non-null  float64
 37  workplace_closing                    1198062 non-null  float64
 38  cancel_public_events                 1198062 non-null  float64
 39  restrictions_on_gatherings           1198062 non-null  float64
 40  public_transport_closing             1197518 non-null  float64
 41  stay_at_home_requirements            1198062 non-null  float64
 42  restrictions_on_internal_movement    1197912 non-null  float64
 43  international_travel_controls        1197408 non-null  float64
 44  income_support                       1198062 non-null  float64
 45  debt_relief                          1195033 non-null  float64
 46  public_information_campaigns         1197939 non-null  float64
 47  testing_policy                       1197950 non-null  float64
 48  contact_tracing                      1197547 non-null  float64
 49  facial_coverings                     1198040 non-null  float64
 50  vaccination_policy                   1197956 non-null  float64
dtypes: float64(46), object(5)
memory usage: 478.3+ MB

In [198]:
# reinstate multi-level index: location_key, date

time_series_df.set_index('location_key', inplace = True)
time_series_df.set_index('date_x', append = True, inplace = True)

In [199]:
# Drop unnecessary and redudant columns then dropna()

time_series_df.drop(axis = 1, columns = ['subregion2_name', 'gr_merge', 'date_y'], inplace = True)
time_series_df.dropna(inplace = True)

In [204]:
time_series_df.info()

<class 'pandas.core.frame.DataFrame'>
MultiIndex: 1128133 entries, ('US_AK_02013', '2021-05-02') to ('US_WY_56045', '2022-05-12')
Data columns (total 34 columns):
 #   Column                               Non-Null Count    Dtype
---  ------                               --------------    -----
 0   cumulative_persons_fully_vaccinated  1128133 non-null  float64
 1   average_temperature_celsius          1128133 non-null  float64
 2   rainfall_mm                          1128133 non-null  float64
 3   snowfall_mm                          1128133 non-null  float64
 4   relative_humidity                    1128133 non-null  float64
 5   cumulative_confirmed                 1128133 non-null  float64
 6   population                           1128133 non-null  float64
 7   population_male                      1128133 non-null  float64
 8   population_female                    1128133 non-null  float64
 9   population_age_00_09                 1128133 non-null  float64
 10  population_age_10_19                 1128133 non-null  float64
 11  population_age_20_29                 1128133 non-null  float64
 12  population_age_30_39                 1128133 non-null  float64
 13  population_age_40_49                 1128133 non-null  float64
 14  population_age_50_59                 1128133 non-null  float64
 15  population_age_60_69                 1128133 non-null  float64
 16  population_age_70_79                 1128133 non-null  float64
 17  population_age_80_and_older          1128133 non-null  float64
 18  life_expectancy                      1128133 non-null  float64
 19  school_closing                       1128133 non-null  float64
 20  workplace_closing                    1128133 non-null  float64
 21  cancel_public_events                 1128133 non-null  float64
 22  restrictions_on_gatherings           1128133 non-null  float64
 23  public_transport_closing             1128133 non-null  float64
 24  stay_at_home_requirements            1128133 non-null  float64
 25  restrictions_on_internal_movement    1128133 non-null  float64
 26  international_travel_controls        1128133 non-null  float64
 27  income_support                       1128133 non-null  float64
 28  debt_relief                          1128133 non-null  float64
 29  public_information_campaigns         1128133 non-null  float64
 30  testing_policy                       1128133 non-null  float64
 31  contact_tracing                      1128133 non-null  float64
 32  facial_coverings                     1128133 non-null  float64
 33  vaccination_policy                   1128133 non-null  float64
dtypes: float64(34)
memory usage: 297.1+ MB

In [202]:
# Drop ratio data from time series

time_series_df.drop(axis = 1, columns = ['male_female_ratio','age_00_09_ratio','age_10_19_ratio','age_20_29_ratio','age_30_3_ratio',
                                          'age_40_49_ratio','age_50_59_ratio','age_60_69_ratio','age_70_79_ratio','age_80_and_older_ratio', 'vax_pop_ratio',
                                          'cov_confirmed_pop_ratio'],
                     inplace = True)

In [214]:
# Save dataframe for future use

time_series_df.to_csv('../us_datasets/time_series_df.csv')