<img src="./images/coronavirus_icon-1.jpg" style="float: left; margin: 20px; height: 75px">

# Capstone: Covid-19 Study

## Problem Statement

Covid-19 Study

## 1.  Data Cleaning

In [1]:
# Import libraries

import pandas as pd
import numpy as np
from bs4 import BeautifulSoup
import requests
import os

In [ ]:
# Create dictionary to download all relevant google csv's

google_dict = {'index' : "https://storage.googleapis.com/covid19-open-data/v3/index.csv",
               'demographics' : "https://storage.googleapis.com/covid19-open-data/v3/demographics.csv",
               'epidemiology' : "https://storage.googleapis.com/covid19-open-data/v3/epidemiology.csv",
               'health' : "https://storage.googleapis.com/covid19-open-data/v3/health.csv",
               'hospitalizations' : "https://storage.googleapis.com/covid19-open-data/v3/hospitalizations.csv",
               'vaccinations' : "https://storage.googleapis.com/covid19-open-data/v3/vaccinations.csv",
               'government_response' : "https://storage.googleapis.com/covid19-open-data/v3/oxford-government-response.csv",
               'weather' : "https://storage.googleapis.com/covid19-open-data/v3/weather.csv"
               }

In [4]:
# read in and save google csv files

for k,v in google_dict.items():
    req = requests.get(v)
    url_content = req.content
    csv_file = open(f'../world_datasets/{k}.csv', 'wb')
    csv_file.write(url_content)
    csv_file.close

In [6]:
# Create Dataframes

index = pd.read_csv('../world_datasets/index.csv')
demographics = pd.read_csv('../world_datasets/demographics.csv')
epidemiology = pd.read_csv('../world_datasets/epidemiology.csv')
health= pd.read_csv('../world_datasets/health.csv')
hospitalizations = pd.read_csv('../world_datasets/hospitalizations.csv')
vaccinations = pd.read_csv('../world_datasets/vaccinations.csv')
government_response = pd.read_csv('../world_datasets/government_response.csv')
weather = pd.read_csv('../world_datasets/weather.csv')

In [7]:
df_list = [index,
           demographics,
           epidemiology,
           health,
           hospitalizations,
           vaccinations,
           government_response,
           weather]

In [8]:
# Display data information

for df in df_list:
    df.info()
    print()
    print('-'*75)
    print()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22963 entries, 0 to 22962
Data columns (total 15 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   location_key        22962 non-null  object
 1   place_id            21661 non-null  object
 2   wikidata_id         22184 non-null  object
 3   datacommons_id      4216 non-null   object
 4   country_code        22962 non-null  object
 5   country_name        22963 non-null  object
 6   subregion1_code     22715 non-null  object
 7   subregion1_name     22716 non-null  object
 8   subregion2_code     21253 non-null  object
 9   subregion2_name     21253 non-null  object
 10  locality_code       32 non-null     object
 11  locality_name       32 non-null     object
 12  iso_3166_1_alpha_2  22961 non-null  object
 13  iso_3166_1_alpha_3  22962 non-null  object
 14  aggregation_level   22963 non-null  int64
dtypes: int64(1), object(14)
memory usage: 2.6+ MB

---------------------------------------------------------------------------

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21689 entries, 0 to 21688
Data columns (total 19 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   location_key                 21688 non-null  object
 1   population                   21659 non-null  float64
 2   population_male              17607 non-null  float64
 3   population_female            17607 non-null  float64
 4   population_rural             213 non-null    float64
 5   population_urban             213 non-null    float64
 6   population_largest_city      152 non-null    float64
 7   population_clustered         121 non-null    float64
 8   population_density           1192 non-null   float64
 9   human_development_index      5738 non-null   float64
 10  population_age_00_09         17249 non-null  float64
 11  population_age_10_19         17248 non-null  float64
 12  population_age_20_29         17248 non-null  float64
 13  population_age_30_39         17256 non-null  float64
 14  population_age_40_49         17250 non-null  float64
 15  population_age_50_59         17232 non-null  float64
 16  population_age_60_69         17214 non-null  float64
 17  population_age_70_79         17127 non-null  float64
 18  population_age_80_and_older  16960 non-null  float64
dtypes: float64(18), object(1)
memory usage: 3.1+ MB

---------------------------------------------------------------------------

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12525825 entries, 0 to 12525824
Data columns (total 10 columns):
 #   Column                Dtype
---  ------                -----
 0   date                  object
 1   location_key          object
 2   new_confirmed         float64
 3   new_deceased          float64
 4   new_recovered         float64
 5   new_tested            float64
 6   cumulative_confirmed  float64
 7   cumulative_deceased   float64
 8   cumulative_recovered  float64
 9   cumulative_tested     float64
dtypes: float64(8), object(2)
memory usage: 955.6+ MB

---------------------------------------------------------------------------

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3504 entries, 0 to 3503
Data columns (total 14 columns):
 #   Column                                Non-Null Count  Dtype
---  ------                                --------------  -----
 0   location_key                          3503 non-null   object
 1   life_expectancy                       3499 non-null   float64
 2   smoking_prevalence                    146 non-null    float64
 3   diabetes_prevalence                   209 non-null    float64
 4   infant_mortality_rate                 193 non-null    float64
 5   adult_male_mortality_rate             189 non-null    float64
 6   adult_female_mortality_rate           189 non-null    float64
 7   pollution_mortality_rate              183 non-null    float64
 8   comorbidity_mortality_rate            183 non-null    float64
 9   hospital_beds_per_1000                25 non-null     float64
 10  nurses_per_1000                       180 non-null    float64
 11  physicians_per_1000                   164 non-null    float64
 12  health_expenditure_usd                186 non-null    float64
 13  out_of_pocket_health_expenditure_usd  186 non-null    float64
dtypes: float64(13), object(1)
memory usage: 383.4+ KB

---------------------------------------------------------------------------

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1768485 entries, 0 to 1768484
Data columns (total 11 columns):
 #   Column                              Dtype
---  ------                              -----
 0   date                                object
 1   location_key                        object
 2   new_hospitalized_patients           float64
 3   cumulative_hospitalized_patients    float64
 4   current_hospitalized_patients       float64
 5   new_intensive_care_patients         float64
 6   cumulative_intensive_care_patients  float64
 7   current_intensive_care_patients     float64
 8   new_ventilator_patients             float64
 9   cumulative_ventilator_patients      float64
 10  current_ventilator_patients         float64
dtypes: float64(9), object(2)
memory usage: 148.4+ MB

---------------------------------------------------------------------------

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2545118 entries, 0 to 2545117
Data columns (total 32 columns):
 #   Column                                         Dtype
---  ------                                         -----
 0   date                                           object
 1   location_key                                   object
 2   new_persons_vaccinated                         float64
 3   cumulative_persons_vaccinated                  float64
 4   new_persons_fully_vaccinated                   float64
 5   cumulative_persons_fully_vaccinated            float64
 6   new_vaccine_doses_administered                 float64
 7   cumulative_vaccine_doses_administered          float64
 8   new_persons_vaccinated_pfizer                  float64
 9   cumulative_persons_vaccinated_pfizer           float64
 10  new_persons_fully_vaccinated_pfizer            float64
 11  cumulative_persons_fully_vaccinated_pfizer     float64
 12  new_vaccine_doses_administered_pfizer          float64
 13  cumulative_vaccine_doses_administered_pfizer   float64
 14  new_persons_vaccinated_moderna                 float64
 15  cumulative_persons_vaccinated_moderna          float64
 16  new_persons_fully_vaccinated_moderna           float64
 17  cumulative_persons_fully_vaccinated_moderna    float64
 18  new_vaccine_doses_administered_moderna         float64
 19  cumulative_vaccine_doses_administered_moderna  float64
 20  new_persons_vaccinated_janssen                 float64
 21  cumulative_persons_vaccinated_janssen          float64
 22  new_persons_fully_vaccinated_janssen           float64
 23  cumulative_persons_fully_vaccinated_janssen    float64
 24  new_vaccine_doses_administered_janssen         float64
 25  cumulative_vaccine_doses_administered_janssen  float64
 26  new_persons_vaccinated_sinovac                 float64
 27  total_persons_vaccinated_sinovac               float64
 28  new_persons_fully_vaccinated_sinovac           float64
 29  total_persons_fully_vaccinated_sinovac         float64
 30  new_vaccine_doses_administered_sinovac         float64
 31  total_vaccine_doses_administered_sinovac       float64
dtypes: float64(30), object(2)
memory usage: 621.4+ MB

---------------------------------------------------------------------------

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 303969 entries, 0 to 303968
Data columns (total 22 columns):
 #   Column                              Non-Null Count   Dtype
---  ------                              --------------   -----
 0   date                                303969 non-null  object
 1   location_key                        303053 non-null  object
 2   school_closing                      302415 non-null  float64
 3   workplace_closing                   302243 non-null  float64
 4   cancel_public_events                302068 non-null  float64
 5   restrictions_on_gatherings          301981 non-null  float64
 6   public_transport_closing            301845 non-null  float64
 7   stay_at_home_requirements           302074 non-null  float64
 8   restrictions_on_internal_movement   302034 non-null  float64
 9   international_travel_controls       300241 non-null  float64
 10  income_support                      286963 non-null  float64
 11  debt_relief                         286854 non-null  float64
 12  fiscal_measures                     146749 non-null  float64
 13  international_support               146645 non-null  float64
 14  public_information_campaigns        302001 non-null  float64
 15  testing_policy                      300377 non-null  float64
 16  contact_tracing                     298180 non-null  float64
 17  emergency_investment_in_healthcare  151099 non-null  float64
 18  investment_in_vaccines              232734 non-null  float64
 19  facial_coverings                    301618 non-null  float64
 20  vaccination_policy                  301242 non-null  float64
 21  stringency_index                    301587 non-null  float64
dtypes: float64(20), object(2)
memory usage: 51.0+ MB

---------------------------------------------------------------------------

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21680590 entries, 0 to 21680589
Data columns (total 9 columns):
 #   Column                       Dtype
---  ------                       -----
 0   date                         object
 1   location_key                 object
 2   average_temperature_celsius  float64
 3   minimum_temperature_celsius  float64
 4   maximum_temperature_celsius  float64
 5   rainfall_mm                  float64
 6   snowfall_mm                  float64
 7   dew_point                    float64
 8   relative_humidity            float64
dtypes: float64(7), object(2)
memory usage: 1.5+ GB

---------------------------------------------------------------------------

In [14]:
# Extract US data from datasets
us_index = index[index.location_key.str.startswith('US_') == True]
us_demographics = demographics[demographics.location_key.str.startswith('US_') == True]
us_epidemiology = epidemiology[epidemiology.location_key.str.startswith('US_') == True]
us_health = health[health.location_key.str.startswith('US_') == True]
us_hospitalizations = hospitalizations[hospitalizations.location_key.str.startswith('US_') == True]
us_vaccinations = vaccinations[vaccinations.location_key.str.startswith('US_') == True]
us_government_response = government_response[government_response.location_key.str.startswith('US_') == True]
us_weather = weather[weather.location_key.str.startswith('US_') == True]

In [15]:
# Write US datasets to local for future use

us_index.to_csv('../us_datasets/us_index.csv')
us_demographics.to_csv('../us_datasets/us_demographics.csv')
us_epidemiology.to_csv('../us_datasets/us_epidemiology.csv')
us_health.to_csv('../us_datasets/us_health.csv')
us_hospitalizations.to_csv('../us_datasets/us_hospitalizations.csv')
us_vaccinations.to_csv('../us_datasets/us_vaccinations.csv')
us_government_response.to_csv('../us_datasets/us_government_response.csv')
us_weather.to_csv('../us_datasets/us_weather.csv')

In [2]:
# Create Dataframes

us_index = pd.read_csv('../us_datasets/us_index.csv', index_col = 'location_key')
us_demographics = pd.read_csv('../us_datasets/us_demographics.csv', index_col = 'location_key')
us_epidemiology = pd.read_csv('../us_datasets/us_epidemiology.csv', index_col = 'location_key')
us_health= pd.read_csv('../us_datasets/us_health.csv', index_col = 'location_key')
us_hospitalizations = pd.read_csv('../us_datasets/us_hospitalizations.csv', index_col = 'location_key')
us_vaccinations = pd.read_csv('../us_datasets/us_vaccinations.csv', index_col = 'location_key')
us_government_response = pd.read_csv('../us_datasets/us_government_response.csv', index_col = 'location_key')
us_weather = pd.read_csv('../us_datasets/us_weather.csv', index_col = 'location_key')

In [3]:
# Display data information from US only datasets

us_df_list = [us_index,
           us_demographics,
           us_epidemiology,
           us_health,
           us_hospitalizations,
           us_vaccinations,
           us_government_response,
           us_weather]

for df in us_df_list:
    df.info()
    print()
    print('-'*75)
    print()

<class 'pandas.core.frame.DataFrame'>
Index: 3284 entries, US_AK to US_WY_56045
Data columns (total 16 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Unnamed: 0.1        3284 non-null   int64
 1   Unnamed: 0          3284 non-null   int64
 2   place_id            3281 non-null   object
 3   wikidata_id         3284 non-null   object
 4   datacommons_id      3282 non-null   object
 5   country_code        3284 non-null   object
 6   country_name        3284 non-null   object
 7   subregion1_code     3284 non-null   object
 8   subregion1_name     3284 non-null   object
 9   subregion2_code     3225 non-null   float64
 10  subregion2_name     3225 non-null   object
 11  locality_code       3 non-null      object
 12  locality_name       3 non-null      object
 13  iso_3166_1_alpha_2  3284 non-null   object
 14  iso_3166_1_alpha_3  3284 non-null   object
 15  aggregation_level   3284 non-null   int64
dtypes: float64(1), int64(3), object(12)
memory usage: 436.2+ KB

---------------------------------------------------------------------------

<class 'pandas.core.frame.DataFrame'>
Index: 3284 entries, US_AK to US_WY_56045
Data columns (total 20 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Unnamed: 0.1                 3284 non-null   int64
 1   Unnamed: 0                   3284 non-null   int64
 2   population                   3284 non-null   float64
 3   population_male              3202 non-null   float64
 4   population_female            3202 non-null   float64
 5   population_rural             0 non-null      float64
 6   population_urban             0 non-null      float64
 7   population_largest_city      0 non-null      float64
 8   population_clustered         0 non-null      float64
 9   population_density           0 non-null      float64
 10  human_development_index      0 non-null      float64
 11  population_age_00_09         3202 non-null   float64
 12  population_age_10_19         3202 non-null   float64
 13  population_age_20_29         3202 non-null   float64
 14  population_age_30_39         3202 non-null   float64
 15  population_age_40_49         3202 non-null   float64
 16  population_age_50_59         3202 non-null   float64
 17  population_age_60_69         3202 non-null   float64
 18  population_age_70_79         3202 non-null   float64
 19  population_age_80_and_older  3202 non-null   float64
dtypes: float64(18), int64(2)
memory usage: 538.8+ KB

---------------------------------------------------------------------------

<class 'pandas.core.frame.DataFrame'>
Index: 2550043 entries, US_AK to US_WY_56045
Data columns (total 11 columns):
 #   Column                Dtype
---  ------                -----
 0   Unnamed: 0.1          int64
 1   Unnamed: 0            int64
 2   date                  object
 3   new_confirmed         float64
 4   new_deceased          float64
 5   new_recovered         float64
 6   new_tested            float64
 7   cumulative_confirmed  float64
 8   cumulative_deceased   float64
 9   cumulative_recovered  float64
 10  cumulative_tested     float64
dtypes: float64(8), int64(2), object(1)
memory usage: 233.5+ MB

---------------------------------------------------------------------------

<class 'pandas.core.frame.DataFrame'>
Index: 3075 entries, US_AK to US_WY_56045
Data columns (total 15 columns):
 #   Column                                Non-Null Count  Dtype
---  ------                                --------------  -----
 0   Unnamed: 0.1                          3075 non-null   int64
 1   Unnamed: 0                            3075 non-null   int64
 2   life_expectancy                       3075 non-null   float64
 3   smoking_prevalence                    0 non-null      float64
 4   diabetes_prevalence                   0 non-null      float64
 5   infant_mortality_rate                 0 non-null      float64
 6   adult_male_mortality_rate             0 non-null      float64
 7   adult_female_mortality_rate           0 non-null      float64
 8   pollution_mortality_rate              0 non-null      float64
 9   comorbidity_mortality_rate            0 non-null      float64
 10  hospital_beds_per_1000                0 non-null      float64
 11  nurses_per_1000                       0 non-null      float64
 12  physicians_per_1000                   0 non-null      float64
 13  health_expenditure_usd                0 non-null      float64
 14  out_of_pocket_health_expenditure_usd  0 non-null      float64
dtypes: float64(13), int64(2)
memory usage: 384.4+ KB

---------------------------------------------------------------------------

<class 'pandas.core.frame.DataFrame'>
Index: 57164 entries, US_AK to US_WY
Data columns (total 12 columns):
 #   Column                              Non-Null Count  Dtype
---  ------                              --------------  -----
 0   Unnamed: 0.1                        57164 non-null  int64
 1   Unnamed: 0                          57164 non-null  int64
 2   date                                57164 non-null  object
 3   new_hospitalized_patients           56261 non-null  float64
 4   cumulative_hospitalized_patients    52116 non-null  float64
 5   current_hospitalized_patients       48403 non-null  float64
 6   new_intensive_care_patients         4102 non-null   float64
 7   cumulative_intensive_care_patients  3789 non-null   float64
 8   current_intensive_care_patients     46209 non-null  float64
 9   new_ventilator_patients             1286 non-null   float64
 10  cumulative_ventilator_patients      1290 non-null   float64
 11  current_ventilator_patients         9126 non-null   float64
dtypes: float64(9), int64(2), object(1)
memory usage: 5.7+ MB

---------------------------------------------------------------------------

<class 'pandas.core.frame.DataFrame'>
Index: 1624891 entries, US_AK to US_WY_56045
Data columns (total 33 columns):
 #   Column                                         Non-Null Count    Dtype
---  ------                                         --------------    -----
 0   Unnamed: 0.1                                   1624891 non-null  int64
 1   Unnamed: 0                                     1624891 non-null  int64
 2   date                                           1624891 non-null  object
 3   new_persons_vaccinated                         33325 non-null    float64
 4   cumulative_persons_vaccinated                  33382 non-null    float64
 5   new_persons_fully_vaccinated                   1621498 non-null  float64
 6   cumulative_persons_fully_vaccinated            1624725 non-null  float64
 7   new_vaccine_doses_administered                 33422 non-null    float64
 8   cumulative_vaccine_doses_administered          33479 non-null    float64
 9   new_persons_vaccinated_pfizer                  0 non-null        float64
 10  cumulative_persons_vaccinated_pfizer           0 non-null        float64
 11  new_persons_fully_vaccinated_pfizer            30352 non-null    float64
 12  cumulative_persons_fully_vaccinated_pfizer     30408 non-null    float64
 13  new_vaccine_doses_administered_pfizer          30352 non-null    float64
 14  cumulative_vaccine_doses_administered_pfizer   30408 non-null    float64
 15  new_persons_vaccinated_moderna                 0 non-null        float64
 16  cumulative_persons_vaccinated_moderna          0 non-null        float64
 17  new_persons_fully_vaccinated_moderna           30352 non-null    float64
 18  cumulative_persons_fully_vaccinated_moderna    30408 non-null    float64
 19  new_vaccine_doses_administered_moderna         30352 non-null    float64
 20  cumulative_vaccine_doses_administered_moderna  30408 non-null    float64
 21  new_persons_vaccinated_janssen                 0 non-null        float64
 22  cumulative_persons_vaccinated_janssen          0 non-null        float64
 23  new_persons_fully_vaccinated_janssen           30352 non-null    float64
 24  cumulative_persons_fully_vaccinated_janssen    30408 non-null    float64
 25  new_vaccine_doses_administered_janssen         30352 non-null    float64
 26  cumulative_vaccine_doses_administered_janssen  30408 non-null    float64
 27  new_persons_vaccinated_sinovac                 0 non-null        float64
 28  total_persons_vaccinated_sinovac               0 non-null        float64
 29  new_persons_fully_vaccinated_sinovac           0 non-null        float64
 30  total_persons_fully_vaccinated_sinovac         0 non-null        float64
 31  new_vaccine_doses_administered_sinovac         0 non-null        float64
 32  total_vaccine_doses_administered_sinovac       0 non-null        float64
dtypes: float64(30), int64(2), object(1)
memory usage: 421.5+ MB

---------------------------------------------------------------------------

<class 'pandas.core.frame.DataFrame'>
Index: 47299 entries, US_AK to US_WY
Data columns (total 23 columns):
 #   Column                              Non-Null Count  Dtype
---  ------                              --------------  -----
 0   Unnamed: 0.1                        47299 non-null  int64
 1   Unnamed: 0                          47299 non-null  int64
 2   date                                47299 non-null  object
 3   school_closing                      47298 non-null  float64
 4   workplace_closing                   47299 non-null  float64
 5   cancel_public_events                47299 non-null  float64
 6   restrictions_on_gatherings          47299 non-null  float64
 7   public_transport_closing            47291 non-null  float64
 8   stay_at_home_requirements           47299 non-null  float64
 9   restrictions_on_internal_movement   47293 non-null  float64
 10  international_travel_controls       47284 non-null  float64
 11  income_support                      47294 non-null  float64
 12  debt_relief                         47249 non-null  float64
 13  fiscal_measures                     12047 non-null  float64
 14  international_support               11919 non-null  float64
 15  public_information_campaigns        47296 non-null  float64
 16  testing_policy                      47296 non-null  float64
 17  contact_tracing                     47284 non-null  float64
 18  emergency_investment_in_healthcare  11851 non-null  float64
 19  investment_in_vaccines              13868 non-null  float64
 20  facial_coverings                    47293 non-null  float64
 21  vaccination_policy                  47289 non-null  float64
 22  stringency_index                    47293 non-null  float64
dtypes: float64(20), int64(2), object(1)
memory usage: 8.7+ MB

---------------------------------------------------------------------------

<class 'pandas.core.frame.DataFrame'>
Index: 3240613 entries, US_AK to US_WY_56045
Data columns (total 10 columns):
 #   Column                       Dtype
---  ------                       -----
 0   Unnamed: 0.1                 int64
 1   Unnamed: 0                   int64
 2   date                         object
 3   average_temperature_celsius  float64
 4   minimum_temperature_celsius  float64
 5   maximum_temperature_celsius  float64
 6   rainfall_mm                  float64
 7   snowfall_mm                  float64
 8   dew_point                    float64
 9   relative_humidity            float64
dtypes: float64(7), int64(2), object(1)
memory usage: 272.0+ MB

---------------------------------------------------------------------------

## Drop unnecessary columns and rows, prepare datasets for merging

In [4]:
# Only keep data on US states by county, drop state level and US territory data

us_index = us_index[us_index.subregion1_code.isin(['MP', 'PR', 'VI']) == False]
us_index = us_index[['subregion2_name']].dropna()

In [5]:
us_index.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3142 entries, US_AK_02013 to US_WY_56045
Data columns (total 1 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   subregion2_name  3142 non-null   object
dtypes: object(1)
memory usage: 49.1+ KB

In [6]:
us_index.to_csv('../us_datasets/us_index_merge_on.csv')

In [7]:
us_demographics.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3284 entries, US_AK to US_WY_56045
Data columns (total 20 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Unnamed: 0.1                 3284 non-null   int64
 1   Unnamed: 0                   3284 non-null   int64
 2   population                   3284 non-null   float64
 3   population_male              3202 non-null   float64
 4   population_female            3202 non-null   float64
 5   population_rural             0 non-null      float64
 6   population_urban             0 non-null      float64
 7   population_largest_city      0 non-null      float64
 8   population_clustered         0 non-null      float64
 9   population_density           0 non-null      float64
 10  human_development_index      0 non-null      float64
 11  population_age_00_09         3202 non-null   float64
 12  population_age_10_19         3202 non-null   float64
 13  population_age_20_29         3202 non-null   float64
 14  population_age_30_39         3202 non-null   float64
 15  population_age_40_49         3202 non-null   float64
 16  population_age_50_59         3202 non-null   float64
 17  population_age_60_69         3202 non-null   float64
 18  population_age_70_79         3202 non-null   float64
 19  population_age_80_and_older  3202 non-null   float64
dtypes: float64(18), int64(2)
memory usage: 538.8+ KB

In [8]:
us_demographics.drop(axis = 1, columns = ['Unnamed: 0.1',
                                       'Unnamed: 0', 
                                       'population_rural', 
                                       'population_urban', 
                                       'population_largest_city', 
                                       'population_clustered', 
                                       'population_density', 
                                       'human_development_index'], 
                  inplace = True)

In [9]:
us_health = us_health[['life_expectancy']]

In [10]:
us_health.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3075 entries, US_AK to US_WY_56045
Data columns (total 1 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   life_expectancy  3075 non-null   float64
dtypes: float64(1)
memory usage: 48.0+ KB

In [11]:
merged = pd.concat([us_index, us_demographics, us_health], axis = 1, join = 'inner')

In [12]:
merged.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3020 entries, US_AK_02013 to US_WY_56045
Data columns (total 14 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   subregion2_name              3020 non-null   object
 1   population                   3020 non-null   float64
 2   population_male              3020 non-null   float64
 3   population_female            3020 non-null   float64
 4   population_age_00_09         3020 non-null   float64
 5   population_age_10_19         3020 non-null   float64
 6   population_age_20_29         3020 non-null   float64
 7   population_age_30_39         3020 non-null   float64
 8   population_age_40_49         3020 non-null   float64
 9   population_age_50_59         3020 non-null   float64
 10  population_age_60_69         3020 non-null   float64
 11  population_age_70_79         3020 non-null   float64
 12  population_age_80_and_older  3020 non-null   float64
 13  life_expectancy              3020 non-null   float64
dtypes: float64(13), object(1)
memory usage: 418.4+ KB

In [13]:
# def extract(df_name, df, date, columns):
#     df_name = df.loc[df.date == date, columns]
#     return

In [14]:
us_vaccinations_2 = us_vaccinations.loc[us_vaccinations.date == '2021-09-01', ['date','cumulative_persons_fully_vaccinated']]
us_vaccinations_3 = us_vaccinations.loc[us_vaccinations.date == '2022-05-13', ['date','cumulative_persons_fully_vaccinated']]

In [15]:
us_vaccinations_3.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3278 entries, US_AK to US_WY_56045
Data columns (total 2 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   date                                 3278 non-null   object
 1   cumulative_persons_fully_vaccinated  3278 non-null   float64
dtypes: float64(1), object(1)
memory usage: 76.8+ KB

In [16]:
us_government_response.info()

<class 'pandas.core.frame.DataFrame'>
Index: 47299 entries, US_AK to US_WY
Data columns (total 23 columns):
 #   Column                              Non-Null Count  Dtype
---  ------                              --------------  -----
 0   Unnamed: 0.1                        47299 non-null  int64
 1   Unnamed: 0                          47299 non-null  int64
 2   date                                47299 non-null  object
 3   school_closing                      47298 non-null  float64
 4   workplace_closing                   47299 non-null  float64
 5   cancel_public_events                47299 non-null  float64
 6   restrictions_on_gatherings          47299 non-null  float64
 7   public_transport_closing            47291 non-null  float64
 8   stay_at_home_requirements           47299 non-null  float64
 9   restrictions_on_internal_movement   47293 non-null  float64
 10  international_travel_controls       47284 non-null  float64
 11  income_support                      47294 non-null  float64
 12  debt_relief                         47249 non-null  float64
 13  fiscal_measures                     12047 non-null  float64
 14  international_support               11919 non-null  float64
 15  public_information_campaigns        47296 non-null  float64
 16  testing_policy                      47296 non-null  float64
 17  contact_tracing                     47284 non-null  float64
 18  emergency_investment_in_healthcare  11851 non-null  float64
 19  investment_in_vaccines              13868 non-null  float64
 20  facial_coverings                    47293 non-null  float64
 21  vaccination_policy                  47289 non-null  float64
 22  stringency_index                    47293 non-null  float64
dtypes: float64(20), int64(2), object(1)
memory usage: 8.7+ MB

In [17]:
us_government_response.index.name

'location_key'

In [18]:
us_government_response.index.name = 'gr_key'

In [19]:
us_government_response_1 = us_government_response.loc[us_government_response.date == '2021-01-01']

In [20]:
us_government_response_1.index

Index(['US_AK', 'US_AL', 'US_AR', 'US_AZ', 'US_CA', 'US_CO', 'US_CT', 'US_DC',
       'US_DE', 'US_FL', 'US_GA', 'US_HI', 'US_IA', 'US_ID', 'US_IL', 'US_IN',
       'US_KS', 'US_KY', 'US_LA', 'US_MA', 'US_MD', 'US_ME', 'US_MI', 'US_MN',
       'US_MO', 'US_MS', 'US_MT', 'US_NC', 'US_ND', 'US_NE', 'US_NH', 'US_NJ',
       'US_NM', 'US_NV', 'US_NY', 'US_OH', 'US_OK', 'US_OR', 'US_PA', 'US_RI',
       'US_SC', 'US_SD', 'US_TN', 'US_TX', 'US_UT', 'US_VA', 'US_VT', 'US_WA',
       'US_WI', 'US_WV', 'US_WY'],
      dtype='object', name='gr_key')

In [21]:
us_government_response_1.info()

<class 'pandas.core.frame.DataFrame'>
Index: 51 entries, US_AK to US_WY
Data columns (total 23 columns):
 #   Column                              Non-Null Count  Dtype
---  ------                              --------------  -----
 0   Unnamed: 0.1                        51 non-null     int64
 1   Unnamed: 0                          51 non-null     int64
 2   date                                51 non-null     object
 3   school_closing                      51 non-null     float64
 4   workplace_closing                   51 non-null     float64
 5   cancel_public_events                51 non-null     float64
 6   restrictions_on_gatherings          51 non-null     float64
 7   public_transport_closing            51 non-null     float64
 8   stay_at_home_requirements           51 non-null     float64
 9   restrictions_on_internal_movement   51 non-null     float64
 10  international_travel_controls       51 non-null     float64
 11  income_support                      51 non-null     float64
 12  debt_relief                         51 non-null     float64
 13  fiscal_measures                     21 non-null     float64
 14  international_support               21 non-null     float64
 15  public_information_campaigns        51 non-null     float64
 16  testing_policy                      51 non-null     float64
 17  contact_tracing                     51 non-null     float64
 18  emergency_investment_in_healthcare  19 non-null     float64
 19  investment_in_vaccines              19 non-null     float64
 20  facial_coverings                    51 non-null     float64
 21  vaccination_policy                  51 non-null     float64
 22  stringency_index                    51 non-null     float64
dtypes: float64(20), int64(2), object(1)
memory usage: 9.6+ KB

In [22]:
us_government_response_2 = us_government_response.loc[us_government_response.date == '2021-09-01']

In [23]:
us_government_response_2.info()

<class 'pandas.core.frame.DataFrame'>
Index: 51 entries, US_AK to US_WY
Data columns (total 23 columns):
 #   Column                              Non-Null Count  Dtype
---  ------                              --------------  -----
 0   Unnamed: 0.1                        51 non-null     int64
 1   Unnamed: 0                          51 non-null     int64
 2   date                                51 non-null     object
 3   school_closing                      51 non-null     float64
 4   workplace_closing                   51 non-null     float64
 5   cancel_public_events                51 non-null     float64
 6   restrictions_on_gatherings          51 non-null     float64
 7   public_transport_closing            51 non-null     float64
 8   stay_at_home_requirements           51 non-null     float64
 9   restrictions_on_internal_movement   51 non-null     float64
 10  international_travel_controls       51 non-null     float64
 11  income_support                      51 non-null     float64
 12  debt_relief                         51 non-null     float64
 13  fiscal_measures                     0 non-null      float64
 14  international_support               0 non-null      float64
 15  public_information_campaigns        51 non-null     float64
 16  testing_policy                      51 non-null     float64
 17  contact_tracing                     51 non-null     float64
 18  emergency_investment_in_healthcare  0 non-null      float64
 19  investment_in_vaccines              10 non-null     float64
 20  facial_coverings                    51 non-null     float64
 21  vaccination_policy                  51 non-null     float64
 22  stringency_index                    51 non-null     float64
dtypes: float64(20), int64(2), object(1)
memory usage: 9.6+ KB

In [24]:
us_government_response_3 = us_government_response.loc[us_government_response.date == '2022-05-13']

In [25]:
us_government_response_3.info()

<class 'pandas.core.frame.DataFrame'>
Index: 51 entries, US_AK to US_WY
Data columns (total 23 columns):
 #   Column                              Non-Null Count  Dtype
---  ------                              --------------  -----
 0   Unnamed: 0.1                        51 non-null     int64
 1   Unnamed: 0                          51 non-null     int64
 2   date                                51 non-null     object
 3   school_closing                      51 non-null     float64
 4   workplace_closing                   51 non-null     float64
 5   cancel_public_events                51 non-null     float64
 6   restrictions_on_gatherings          51 non-null     float64
 7   public_transport_closing            51 non-null     float64
 8   stay_at_home_requirements           51 non-null     float64
 9   restrictions_on_internal_movement   51 non-null     float64
 10  international_travel_controls       51 non-null     float64
 11  income_support                      51 non-null     float64
 12  debt_relief                         51 non-null     float64
 13  fiscal_measures                     0 non-null      float64
 14  international_support               0 non-null      float64
 15  public_information_campaigns        51 non-null     float64
 16  testing_policy                      51 non-null     float64
 17  contact_tracing                     51 non-null     float64
 18  emergency_investment_in_healthcare  0 non-null      float64
 19  investment_in_vaccines              4 non-null      float64
 20  facial_coverings                    51 non-null     float64
 21  vaccination_policy                  51 non-null     float64
 22  stringency_index                    51 non-null     float64
dtypes: float64(20), int64(2), object(1)
memory usage: 9.6+ KB

In [26]:
us_weather_1 = us_weather.loc[us_weather.date == '2021-01-01']
us_weather_2 = us_weather.loc[us_weather.date == '2021-09-01']
us_weather_3 = us_weather.loc[us_weather.date == '2022-05-13']

In [27]:
us_weather_3.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3280 entries, US_AK to US_WY_56045
Data columns (total 10 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Unnamed: 0.1                 3280 non-null   int64
 1   Unnamed: 0                   3280 non-null   int64
 2   date                         3280 non-null   object
 3   average_temperature_celsius  3280 non-null   float64
 4   minimum_temperature_celsius  3280 non-null   float64
 5   maximum_temperature_celsius  3280 non-null   float64
 6   rainfall_mm                  3280 non-null   float64
 7   snowfall_mm                  16 non-null     float64
 8   dew_point                    3278 non-null   float64
 9   relative_humidity            3278 non-null   float64
dtypes: float64(7), int64(2), object(1)
memory usage: 281.9+ KB

In [28]:
us_epidemiology_1 = us_epidemiology.loc[us_epidemiology.date == '2021-01-01', ['new_confirmed', 'new_deceased', 'cumulative_confirmed', 'cumulative_deceased']]
us_epidemiology_2 = us_epidemiology.loc[us_epidemiology.date == '2021-09-01', ['new_confirmed', 'new_deceased', 'cumulative_confirmed', 'cumulative_deceased']]
us_epidemiology_3 = us_epidemiology.loc[us_epidemiology.date == '2022-05-13', ['new_confirmed', 'new_deceased', 'cumulative_confirmed', 'cumulative_deceased']]

In [29]:
us_epidemiology_3 = us_epidemiology.loc[us_epidemiology.date == '2022-05-13', ['new_confirmed', 'new_deceased', 'cumulative_confirmed', 'cumulative_deceased']]
us_epidemiology_3.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3280 entries, US_AK to US_WY_56045
Data columns (total 4 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   new_confirmed         3280 non-null   float64
 1   new_deceased          3201 non-null   float64
 2   cumulative_confirmed  3280 non-null   float64
 3   cumulative_deceased   3201 non-null   float64
dtypes: float64(4)
memory usage: 128.1+ KB

In [30]:
merged_1 = pd.concat([us_index, us_demographics, us_health, us_weather_1, us_epidemiology_1], axis = 1, join = 'inner')

In [31]:
merged_1.head()

,subregion2_name,population,population_male,population_female,population_age_00_09,population_age_10_19,population_age_20_29,population_age_30_39,population_age_40_49,population_age_50_59,...,minimum_temperature_celsius,maximum_temperature_celsius,rainfall_mm,snowfall_mm,dew_point,relative_humidity,new_confirmed,new_deceased,cumulative_confirmed,cumulative_deceased
location_key,,,,,,,,,,,,,,,,,,,,,
US_AK_02013,Aleutians East,3455.0,2345.0,1110.0,178.0,165.0,571.0,532.0,792.0,696.0,...,-0.541667,4.118056,2.641600,NaN,0.400000,87.043727,0.0,0.0,38.0,0.0
US_AK_02016,Aleutians West,5729.0,3795.0,1934.0,359.0,400.0,951.0,957.0,1149.0,1146.0,...,0.037037,3.203704,4.910667,NaN,-1.333333,82.088381,0.0,0.0,197.0,0.0
US_AK_02020,Anchorage Municipality,294338.0,149817.0,144521.0,41514.0,37461.0,49984.0,45570.0,35093.0,37143.0,...,-18.203704,-7.314815,0.000000,346.286667,-17.347222,83.766762,0.0,0.0,22820.0,118.0
US_AK_02050,Bethel,18090.0,9369.0,8721.0,3888.0,3211.0,2833.0,2294.0,1682.0,2053.0,...,-5.833333,-1.240741,0.000000,NaN,-5.555556,80.648175,0.0,0.0,2427.0,9.0
US_AK_02070,Dillingham,4940.0,2500.0,2440.0,959.0,732.0,821.0,601.0,436.0,641.0,...,-5.500000,-0.201389,0.031750,NaN,-4.039683,87.846869,0.0,0.0,121.0,1.0

In [32]:
merged_1['gr_key'] = merged_1.index.str[:5]

In [33]:
merged_1.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3014 entries, US_AK_02013 to US_WY_56045
Data columns (total 29 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   subregion2_name              3014 non-null   object
 1   population                   3014 non-null   float64
 2   population_male              3014 non-null   float64
 3   population_female            3014 non-null   float64
 4   population_age_00_09         3014 non-null   float64
 5   population_age_10_19         3014 non-null   float64
 6   population_age_20_29         3014 non-null   float64
 7   population_age_30_39         3014 non-null   float64
 8   population_age_40_49         3014 non-null   float64
 9   population_age_50_59         3014 non-null   float64
 10  population_age_60_69         3014 non-null   float64
 11  population_age_70_79         3014 non-null   float64
 12  population_age_80_and_older  3014 non-null   float64
 13  life_expectancy              3014 non-null   float64
 14  Unnamed: 0.1                 3014 non-null   int64
 15  Unnamed: 0                   3014 non-null   int64
 16  date                         3014 non-null   object
 17  average_temperature_celsius  3014 non-null   float64
 18  minimum_temperature_celsius  3014 non-null   float64
 19  maximum_temperature_celsius  3014 non-null   float64
 20  rainfall_mm                  3014 non-null   float64
 21  snowfall_mm                  778 non-null    float64
 22  dew_point                    3013 non-null   float64
 23  relative_humidity            3013 non-null   float64
 24  new_confirmed                3014 non-null   float64
 25  new_deceased                 3014 non-null   float64
 26  cumulative_confirmed         3014 non-null   float64
 27  cumulative_deceased          3014 non-null   float64
 28  gr_key                       3014 non-null   object
dtypes: float64(24), int64(2), object(3)
memory usage: 770.9+ KB

In [34]:
merged_1 = pd.merge(merged_1, us_government_response_1, how = 'left', on = 'gr_key')

In [35]:
merged_1.head()

,subregion2_name,population,population_male,population_female,population_age_00_09,population_age_10_19,population_age_20_29,population_age_30_39,population_age_40_49,population_age_50_59,...,fiscal_measures,international_support,public_information_campaigns,testing_policy,contact_tracing,emergency_investment_in_healthcare,investment_in_vaccines,facial_coverings,vaccination_policy,stringency_index
0,Aleutians East,3455.0,2345.0,1110.0,178.0,165.0,571.0,532.0,792.0,696.0,...,0.0,0.0,2.0,3.0,1.0,0.0,0.0,3.0,2.0,61.57
1,Aleutians West,5729.0,3795.0,1934.0,359.0,400.0,951.0,957.0,1149.0,1146.0,...,0.0,0.0,2.0,3.0,1.0,0.0,0.0,3.0,2.0,61.57
2,Anchorage Municipality,294338.0,149817.0,144521.0,41514.0,37461.0,49984.0,45570.0,35093.0,37143.0,...,0.0,0.0,2.0,3.0,1.0,0.0,0.0,3.0,2.0,61.57
3,Bethel,18090.0,9369.0,8721.0,3888.0,3211.0,2833.0,2294.0,1682.0,2053.0,...,0.0,0.0,2.0,3.0,1.0,0.0,0.0,3.0,2.0,61.57
4,Dillingham,4940.0,2500.0,2440.0,959.0,732.0,821.0,601.0,436.0,641.0,...,0.0,0.0,2.0,3.0,1.0,0.0,0.0,3.0,2.0,61.57

In [36]:
merged_1.loc[(merged_1['snowfall_mm'].isnull()), ['snowfall_mm']] = 0
merged_1.drop(axis = 1, columns = ['subregion2_name',
                                       'Unnamed: 0.1_x', 
                                       'Unnamed: 0_x', 
                                       'date_x', 
                                       'gr_key', 
                                       'Unnamed: 0.1_y', 
                                       'Unnamed: 0_y', 
                                       'date_y',
                                  'fiscal_measures',
                                  'international_support',
                                   'emergency_investment_in_healthcare',
                                   'investment_in_vaccines',
                                  ], 
                  inplace = True)
merged_1.dropna(inplace = True)

In [37]:
merged_1.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3013 entries, 0 to 3013
Data columns (total 40 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   population                         3013 non-null   float64
 1   population_male                    3013 non-null   float64
 2   population_female                  3013 non-null   float64
 3   population_age_00_09               3013 non-null   float64
 4   population_age_10_19               3013 non-null   float64
 5   population_age_20_29               3013 non-null   float64
 6   population_age_30_39               3013 non-null   float64
 7   population_age_40_49               3013 non-null   float64
 8   population_age_50_59               3013 non-null   float64
 9   population_age_60_69               3013 non-null   float64
 10  population_age_70_79               3013 non-null   float64
 11  population_age_80_and_older        3013 non-null   float64
 12  life_expectancy                    3013 non-null   float64
 13  average_temperature_celsius        3013 non-null   float64
 14  minimum_temperature_celsius        3013 non-null   float64
 15  maximum_temperature_celsius        3013 non-null   float64
 16  rainfall_mm                        3013 non-null   float64
 17  snowfall_mm                        3013 non-null   float64
 18  dew_point                          3013 non-null   float64
 19  relative_humidity                  3013 non-null   float64
 20  new_confirmed                      3013 non-null   float64
 21  new_deceased                       3013 non-null   float64
 22  cumulative_confirmed               3013 non-null   float64
 23  cumulative_deceased                3013 non-null   float64
 24  school_closing                     3013 non-null   float64
 25  workplace_closing                  3013 non-null   float64
 26  cancel_public_events               3013 non-null   float64
 27  restrictions_on_gatherings         3013 non-null   float64
 28  public_transport_closing           3013 non-null   float64
 29  stay_at_home_requirements          3013 non-null   float64
 30  restrictions_on_internal_movement  3013 non-null   float64
 31  international_travel_controls      3013 non-null   float64
 32  income_support                     3013 non-null   float64
 33  debt_relief                        3013 non-null   float64
 34  public_information_campaigns       3013 non-null   float64
 35  testing_policy                     3013 non-null   float64
 36  contact_tracing                    3013 non-null   float64
 37  facial_coverings                   3013 non-null   float64
 38  vaccination_policy                 3013 non-null   float64
 39  stringency_index                   3013 non-null   float64
dtypes: float64(40)
memory usage: 965.1 KB

In [38]:
merged_1.drop(axis = 1, columns = ['population',
                                       'minimum_temperature_celsius', 
                                       'maximum_temperature_celsius', 
                                    ], 
                  inplace = True)

In [39]:
merged_1.to_csv('../us_datasets/merged_1.csv')

In [40]:
merged_2 = pd.concat([us_index, us_demographics, us_health, us_vaccinations_2, us_weather_2, us_epidemiology_2], axis = 1, join = 'inner')
merged_2['gr_key'] = merged_2.index.str[:5]
merged_2 = pd.merge(merged_2, us_government_response_2, how = 'left', on = 'gr_key')

In [41]:
merged_2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3013 entries, 0 to 3012
Data columns (total 54 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   subregion2_name                      3013 non-null   object
 1   population                           3013 non-null   float64
 2   population_male                      3013 non-null   float64
 3   population_female                    3013 non-null   float64
 4   population_age_00_09                 3013 non-null   float64
 5   population_age_10_19                 3013 non-null   float64
 6   population_age_20_29                 3013 non-null   float64
 7   population_age_30_39                 3013 non-null   float64
 8   population_age_40_49                 3013 non-null   float64
 9   population_age_50_59                 3013 non-null   float64
 10  population_age_60_69                 3013 non-null   float64
 11  population_age_70_79                 3013 non-null   float64
 12  population_age_80_and_older          3013 non-null   float64
 13  life_expectancy                      3013 non-null   float64
 14  date_x                               3013 non-null   object
 15  cumulative_persons_fully_vaccinated  3013 non-null   float64
 16  Unnamed: 0.1_x                       3013 non-null   int64
 17  Unnamed: 0_x                         3013 non-null   int64
 18  date_x                               3013 non-null   object
 19  average_temperature_celsius          3013 non-null   float64
 20  minimum_temperature_celsius          3013 non-null   float64
 21  maximum_temperature_celsius          3013 non-null   float64
 22  rainfall_mm                          3013 non-null   float64
 23  snowfall_mm                          0 non-null      float64
 24  dew_point                            3012 non-null   float64
 25  relative_humidity                    3012 non-null   float64
 26  new_confirmed                        3013 non-null   float64
 27  new_deceased                         3013 non-null   float64
 28  cumulative_confirmed                 3013 non-null   float64
 29  cumulative_deceased                  3013 non-null   float64
 30  gr_key                               3013 non-null   object
 31  Unnamed: 0.1_y                       3013 non-null   int64
 32  Unnamed: 0_y                         3013 non-null   int64
 33  date_y                               3013 non-null   object
 34  school_closing                       3013 non-null   float64
 35  workplace_closing                    3013 non-null   float64
 36  cancel_public_events                 3013 non-null   float64
 37  restrictions_on_gatherings           3013 non-null   float64
 38  public_transport_closing             3013 non-null   float64
 39  stay_at_home_requirements            3013 non-null   float64
 40  restrictions_on_internal_movement    3013 non-null   float64
 41  international_travel_controls        3013 non-null   float64
 42  income_support                       3013 non-null   float64
 43  debt_relief                          3013 non-null   float64
 44  fiscal_measures                      0 non-null      float64
 45  international_support                0 non-null      float64
 46  public_information_campaigns         3013 non-null   float64
 47  testing_policy                       3013 non-null   float64
 48  contact_tracing                      3013 non-null   float64
 49  emergency_investment_in_healthcare   0 non-null      float64
 50  investment_in_vaccines               703 non-null    float64
 51  facial_coverings                     3013 non-null   float64
 52  vaccination_policy                   3013 non-null   float64
 53  stringency_index                     3013 non-null   float64
dtypes: float64(45), int64(4), object(5)
memory usage: 1.2+ MB

In [42]:
merged_2.loc[(merged_2['snowfall_mm'].isnull()), ['snowfall_mm']] = 0
merged_2.drop(axis = 1, columns = ['subregion2_name',
                                       'Unnamed: 0.1_x', 
                                       'Unnamed: 0_x', 
                                       'date_x', 
                                       'gr_key', 
                                       'Unnamed: 0.1_y', 
                                       'Unnamed: 0_y', 
                                       'date_y',
                                  'fiscal_measures',
                                  'international_support',
                                   'emergency_investment_in_healthcare',
                                   'investment_in_vaccines',
                                  ], 
                  inplace = True)
merged_2.dropna(inplace = True)

In [43]:
merged_2.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3012 entries, 0 to 3012
Data columns (total 41 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   population                           3012 non-null   float64
 1   population_male                      3012 non-null   float64
 2   population_female                    3012 non-null   float64
 3   population_age_00_09                 3012 non-null   float64
 4   population_age_10_19                 3012 non-null   float64
 5   population_age_20_29                 3012 non-null   float64
 6   population_age_30_39                 3012 non-null   float64
 7   population_age_40_49                 3012 non-null   float64
 8   population_age_50_59                 3012 non-null   float64
 9   population_age_60_69                 3012 non-null   float64
 10  population_age_70_79                 3012 non-null   float64
 11  population_age_80_and_older          3012 non-null   float64
 12  life_expectancy                      3012 non-null   float64
 13  cumulative_persons_fully_vaccinated  3012 non-null   float64
 14  average_temperature_celsius          3012 non-null   float64
 15  minimum_temperature_celsius          3012 non-null   float64
 16  maximum_temperature_celsius          3012 non-null   float64
 17  rainfall_mm                          3012 non-null   float64
 18  snowfall_mm                          3012 non-null   float64
 19  dew_point                            3012 non-null   float64
 20  relative_humidity                    3012 non-null   float64
 21  new_confirmed                        3012 non-null   float64
 22  new_deceased                         3012 non-null   float64
 23  cumulative_confirmed                 3012 non-null   float64
 24  cumulative_deceased                  3012 non-null   float64
 25  school_closing                       3012 non-null   float64
 26  workplace_closing                    3012 non-null   float64
 27  cancel_public_events                 3012 non-null   float64
 28  restrictions_on_gatherings           3012 non-null   float64
 29  public_transport_closing             3012 non-null   float64
 30  stay_at_home_requirements            3012 non-null   float64
 31  restrictions_on_internal_movement    3012 non-null   float64
 32  international_travel_controls        3012 non-null   float64
 33  income_support                       3012 non-null   float64
 34  debt_relief                          3012 non-null   float64
 35  public_information_campaigns         3012 non-null   float64
 36  testing_policy                       3012 non-null   float64
 37  contact_tracing                      3012 non-null   float64
 38  facial_coverings                     3012 non-null   float64
 39  vaccination_policy                   3012 non-null   float64
 40  stringency_index                     3012 non-null   float64
dtypes: float64(41)
memory usage: 988.3 KB

In [44]:
merged_2.drop(axis = 1, columns = ['population',
                                       'minimum_temperature_celsius', 
                                       'maximum_temperature_celsius', 
                                    ], 
                  inplace = True)

In [45]:
merged_2.to_csv('../us_datasets/merged_2.csv')

In [46]:
merged_3 = pd.concat([us_index, us_demographics, us_health, us_vaccinations_3, us_weather_3, us_epidemiology_3], axis = 1, join = 'inner')
merged_3['gr_key'] = merged_3.index.str[:5]
merged_3 = pd.merge(merged_3, us_government_response_3, how = 'left', on = 'gr_key')

In [47]:
merged_3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3014 entries, 0 to 3013
Data columns (total 54 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   subregion2_name                      3014 non-null   object
 1   population                           3014 non-null   float64
 2   population_male                      3014 non-null   float64
 3   population_female                    3014 non-null   float64
 4   population_age_00_09                 3014 non-null   float64
 5   population_age_10_19                 3014 non-null   float64
 6   population_age_20_29                 3014 non-null   float64
 7   population_age_30_39                 3014 non-null   float64
 8   population_age_40_49                 3014 non-null   float64
 9   population_age_50_59                 3014 non-null   float64
 10  population_age_60_69                 3014 non-null   float64
 11  population_age_70_79                 3014 non-null   float64
 12  population_age_80_and_older          3014 non-null   float64
 13  life_expectancy                      3014 non-null   float64
 14  date_x                               3014 non-null   object
 15  cumulative_persons_fully_vaccinated  3014 non-null   float64
 16  Unnamed: 0.1_x                       3014 non-null   int64
 17  Unnamed: 0_x                         3014 non-null   int64
 18  date_x                               3014 non-null   object
 19  average_temperature_celsius          3014 non-null   float64
 20  minimum_temperature_celsius          3014 non-null   float64
 21  maximum_temperature_celsius          3014 non-null   float64
 22  rainfall_mm                          3014 non-null   float64
 23  snowfall_mm                          12 non-null     float64
 24  dew_point                            3013 non-null   float64
 25  relative_humidity                    3013 non-null   float64
 26  new_confirmed                        3014 non-null   float64
 27  new_deceased                         3014 non-null   float64
 28  cumulative_confirmed                 3014 non-null   float64
 29  cumulative_deceased                  3014 non-null   float64
 30  gr_key                               3014 non-null   object
 31  Unnamed: 0.1_y                       3014 non-null   int64
 32  Unnamed: 0_y                         3014 non-null   int64
 33  date_y                               3014 non-null   object
 34  school_closing                       3014 non-null   float64
 35  workplace_closing                    3014 non-null   float64
 36  cancel_public_events                 3014 non-null   float64
 37  restrictions_on_gatherings           3014 non-null   float64
 38  public_transport_closing             3014 non-null   float64
 39  stay_at_home_requirements            3014 non-null   float64
 40  restrictions_on_internal_movement    3014 non-null   float64
 41  international_travel_controls        3014 non-null   float64
 42  income_support                       3014 non-null   float64
 43  debt_relief                          3014 non-null   float64
 44  fiscal_measures                      0 non-null      float64
 45  international_support                0 non-null      float64
 46  public_information_campaigns         3014 non-null   float64
 47  testing_policy                       3014 non-null   float64
 48  contact_tracing                      3014 non-null   float64
 49  emergency_investment_in_healthcare   0 non-null      float64
 50  investment_in_vaccines               250 non-null    float64
 51  facial_coverings                     3014 non-null   float64
 52  vaccination_policy                   3014 non-null   float64
 53  stringency_index                     3014 non-null   float64
dtypes: float64(45), int64(4), object(5)
memory usage: 1.2+ MB

In [48]:
merged_3.loc[(merged_3['snowfall_mm'].isnull()), ['snowfall_mm']] = 0
merged_3.drop(axis = 1, columns = ['subregion2_name',
                                       'Unnamed: 0.1_x', 
                                       'Unnamed: 0_x', 
                                       'date_x', 
                                       'gr_key', 
                                       'Unnamed: 0.1_y', 
                                       'Unnamed: 0_y', 
                                       'date_y',
                                  'fiscal_measures',
                                  'international_support',
                                   'emergency_investment_in_healthcare',
                                   'investment_in_vaccines',
                                  ], 
                  inplace = True)
merged_3.dropna(inplace = True)

In [49]:
merged_3.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3013 entries, 0 to 3013
Data columns (total 41 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   population                           3013 non-null   float64
 1   population_male                      3013 non-null   float64
 2   population_female                    3013 non-null   float64
 3   population_age_00_09                 3013 non-null   float64
 4   population_age_10_19                 3013 non-null   float64
 5   population_age_20_29                 3013 non-null   float64
 6   population_age_30_39                 3013 non-null   float64
 7   population_age_40_49                 3013 non-null   float64
 8   population_age_50_59                 3013 non-null   float64
 9   population_age_60_69                 3013 non-null   float64
 10  population_age_70_79                 3013 non-null   float64
 11  population_age_80_and_older          3013 non-null   float64
 12  life_expectancy                      3013 non-null   float64
 13  cumulative_persons_fully_vaccinated  3013 non-null   float64
 14  average_temperature_celsius          3013 non-null   float64
 15  minimum_temperature_celsius          3013 non-null   float64
 16  maximum_temperature_celsius          3013 non-null   float64
 17  rainfall_mm                          3013 non-null   float64
 18  snowfall_mm                          3013 non-null   float64
 19  dew_point                            3013 non-null   float64
 20  relative_humidity                    3013 non-null   float64
 21  new_confirmed                        3013 non-null   float64
 22  new_deceased                         3013 non-null   float64
 23  cumulative_confirmed                 3013 non-null   float64
 24  cumulative_deceased                  3013 non-null   float64
 25  school_closing                       3013 non-null   float64
 26  workplace_closing                    3013 non-null   float64
 27  cancel_public_events                 3013 non-null   float64
 28  restrictions_on_gatherings           3013 non-null   float64
 29  public_transport_closing             3013 non-null   float64
 30  stay_at_home_requirements            3013 non-null   float64
 31  restrictions_on_internal_movement    3013 non-null   float64
 32  international_travel_controls        3013 non-null   float64
 33  income_support                       3013 non-null   float64
 34  debt_relief                          3013 non-null   float64
 35  public_information_campaigns         3013 non-null   float64
 36  testing_policy                       3013 non-null   float64
 37  contact_tracing                      3013 non-null   float64
 38  facial_coverings                     3013 non-null   float64
 39  vaccination_policy                   3013 non-null   float64
 40  stringency_index                     3013 non-null   float64
dtypes: float64(41)
memory usage: 988.6 KB

In [50]:
merged_3.drop(axis = 1, columns = ['population',
                                       'minimum_temperature_celsius', 
                                       'maximum_temperature_celsius', 
                                    ], 
                  inplace = True)

In [51]:
merged_3.to_csv('../us_datasets/merged_3.csv')