<img src="./images/coronavirus_icon-1.jpg" style="float: left; margin: 20px; height: 75px">

# Capstone: Covid-19 Study

# Problem Statement

Covid-19 Study

# 1.  Data collection and cleaning

In [1]:
# Import libraries

import pandas as pd
import numpy as np
import requests
import os

In [2]:
# Create dictionary to download all relevant google csv's

google_dict = {'index' : "https://storage.googleapis.com/covid19-open-data/v3/index.csv",
               'demographics' : "https://storage.googleapis.com/covid19-open-data/v3/demographics.csv",
               'epidemiology' : "https://storage.googleapis.com/covid19-open-data/v3/epidemiology.csv",
               'health' : "https://storage.googleapis.com/covid19-open-data/v3/health.csv",
               'vaccinations' : "https://storage.googleapis.com/covid19-open-data/v3/vaccinations.csv",
               'government_response' : "https://storage.googleapis.com/covid19-open-data/v3/oxford-government-response.csv",
               'weather' : "https://storage.googleapis.com/covid19-open-data/v3/weather.csv"
               }

In [3]:
# read in and save google csv files
# Referenced https://medium.com/@mudassar_lhr/how-to-download-the-csv-file-from-url-using-python-650eae6d3478

for k,v in google_dict.items():
    req = requests.get(v)
    url_content = req.content
    csv_file = open(f'../world_datasets/{k}.csv', 'wb')
    csv_file.write(url_content)
    csv_file.close

In [15]:
# Create Dataframes

index = pd.read_csv('../world_datasets/index.csv')
demographics = pd.read_csv('../world_datasets/demographics.csv')
epidemiology = pd.read_csv('../world_datasets/epidemiology.csv')
health= pd.read_csv('../world_datasets/health.csv')
vaccinations = pd.read_csv('../world_datasets/vaccinations.csv')
government_response = pd.read_csv('../world_datasets/government_response.csv')
weather = pd.read_csv('../world_datasets/weather.csv')

In [101]:
# Create dataframe list 

df_list = [index,
           demographics,
           epidemiology,
           health,
           vaccinations,
           government_response,
           weather]

In [102]:
# Display data information

for df in df_list:
    df.info()
    print()
    print('-'*75)
    print()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22963 entries, 0 to 22962
Data columns (total 15 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   location_key        22962 non-null  object
 1   place_id            21661 non-null  object
 2   wikidata_id         22184 non-null  object
 3   datacommons_id      4216 non-null   object
 4   country_code        22962 non-null  object
 5   country_name        22963 non-null  object
 6   subregion1_code     22715 non-null  object
 7   subregion1_name     22716 non-null  object
 8   subregion2_code     21253 non-null  object
 9   subregion2_name     21253 non-null  object
 10  locality_code       32 non-null     object
 11  locality_name       32 non-null     object
 12  iso_3166_1_alpha_2  22961 non-null  object
 13  iso_3166_1_alpha_3  22962 non-null  object
 14  aggregation_level   22963 non-null  int64
dtypes: int64(1), object(14)
memory usage: 2.6+ MB

---------------------------------------------------------------------------

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21689 entries, 0 to 21688
Data columns (total 19 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   location_key                 21688 non-null  object
 1   population                   21659 non-null  float64
 2   population_male              17607 non-null  float64
 3   population_female            17607 non-null  float64
 4   population_rural             213 non-null    float64
 5   population_urban             213 non-null    float64
 6   population_largest_city      152 non-null    float64
 7   population_clustered         121 non-null    float64
 8   population_density           1192 non-null   float64
 9   human_development_index      5738 non-null   float64
 10  population_age_00_09         17249 non-null  float64
 11  population_age_10_19         17248 non-null  float64
 12  population_age_20_29         17248 non-null  float64
 13  population_age_30_39         17256 non-null  float64
 14  population_age_40_49         17250 non-null  float64
 15  population_age_50_59         17232 non-null  float64
 16  population_age_60_69         17214 non-null  float64
 17  population_age_70_79         17127 non-null  float64
 18  population_age_80_and_older  16960 non-null  float64
dtypes: float64(18), object(1)
memory usage: 3.1+ MB

---------------------------------------------------------------------------

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12525825 entries, 0 to 12525824
Data columns (total 10 columns):
 #   Column                Dtype
---  ------                -----
 0   date                  object
 1   location_key          object
 2   new_confirmed         float64
 3   new_deceased          float64
 4   new_recovered         float64
 5   new_tested            float64
 6   cumulative_confirmed  float64
 7   cumulative_deceased   float64
 8   cumulative_recovered  float64
 9   cumulative_tested     float64
dtypes: float64(8), object(2)
memory usage: 955.6+ MB

---------------------------------------------------------------------------

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3504 entries, 0 to 3503
Data columns (total 14 columns):
 #   Column                                Non-Null Count  Dtype
---  ------                                --------------  -----
 0   location_key                          3503 non-null   object
 1   life_expectancy                       3499 non-null   float64
 2   smoking_prevalence                    146 non-null    float64
 3   diabetes_prevalence                   209 non-null    float64
 4   infant_mortality_rate                 193 non-null    float64
 5   adult_male_mortality_rate             189 non-null    float64
 6   adult_female_mortality_rate           189 non-null    float64
 7   pollution_mortality_rate              183 non-null    float64
 8   comorbidity_mortality_rate            183 non-null    float64
 9   hospital_beds_per_1000                25 non-null     float64
 10  nurses_per_1000                       180 non-null    float64
 11  physicians_per_1000                   164 non-null    float64
 12  health_expenditure_usd                186 non-null    float64
 13  out_of_pocket_health_expenditure_usd  186 non-null    float64
dtypes: float64(13), object(1)
memory usage: 383.4+ KB

---------------------------------------------------------------------------

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2545118 entries, 0 to 2545117
Data columns (total 32 columns):
 #   Column                                         Dtype
---  ------                                         -----
 0   date                                           object
 1   location_key                                   object
 2   new_persons_vaccinated                         float64
 3   cumulative_persons_vaccinated                  float64
 4   new_persons_fully_vaccinated                   float64
 5   cumulative_persons_fully_vaccinated            float64
 6   new_vaccine_doses_administered                 float64
 7   cumulative_vaccine_doses_administered          float64
 8   new_persons_vaccinated_pfizer                  float64
 9   cumulative_persons_vaccinated_pfizer           float64
 10  new_persons_fully_vaccinated_pfizer            float64
 11  cumulative_persons_fully_vaccinated_pfizer     float64
 12  new_vaccine_doses_administered_pfizer          float64
 13  cumulative_vaccine_doses_administered_pfizer   float64
 14  new_persons_vaccinated_moderna                 float64
 15  cumulative_persons_vaccinated_moderna          float64
 16  new_persons_fully_vaccinated_moderna           float64
 17  cumulative_persons_fully_vaccinated_moderna    float64
 18  new_vaccine_doses_administered_moderna         float64
 19  cumulative_vaccine_doses_administered_moderna  float64
 20  new_persons_vaccinated_janssen                 float64
 21  cumulative_persons_vaccinated_janssen          float64
 22  new_persons_fully_vaccinated_janssen           float64
 23  cumulative_persons_fully_vaccinated_janssen    float64
 24  new_vaccine_doses_administered_janssen         float64
 25  cumulative_vaccine_doses_administered_janssen  float64
 26  new_persons_vaccinated_sinovac                 float64
 27  total_persons_vaccinated_sinovac               float64
 28  new_persons_fully_vaccinated_sinovac           float64
 29  total_persons_fully_vaccinated_sinovac         float64
 30  new_vaccine_doses_administered_sinovac         float64
 31  total_vaccine_doses_administered_sinovac       float64
dtypes: float64(30), object(2)
memory usage: 621.4+ MB

---------------------------------------------------------------------------

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 303969 entries, 0 to 303968
Data columns (total 22 columns):
 #   Column                              Non-Null Count   Dtype
---  ------                              --------------   -----
 0   date                                303969 non-null  object
 1   location_key                        303053 non-null  object
 2   school_closing                      302415 non-null  float64
 3   workplace_closing                   302243 non-null  float64
 4   cancel_public_events                302068 non-null  float64
 5   restrictions_on_gatherings          301981 non-null  float64
 6   public_transport_closing            301845 non-null  float64
 7   stay_at_home_requirements           302074 non-null  float64
 8   restrictions_on_internal_movement   302034 non-null  float64
 9   international_travel_controls       300241 non-null  float64
 10  income_support                      286963 non-null  float64
 11  debt_relief                         286854 non-null  float64
 12  fiscal_measures                     146749 non-null  float64
 13  international_support               146645 non-null  float64
 14  public_information_campaigns        302001 non-null  float64
 15  testing_policy                      300377 non-null  float64
 16  contact_tracing                     298180 non-null  float64
 17  emergency_investment_in_healthcare  151099 non-null  float64
 18  investment_in_vaccines              232734 non-null  float64
 19  facial_coverings                    301618 non-null  float64
 20  vaccination_policy                  301242 non-null  float64
 21  stringency_index                    301587 non-null  float64
dtypes: float64(20), object(2)
memory usage: 51.0+ MB

---------------------------------------------------------------------------

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21680590 entries, 0 to 21680589
Data columns (total 9 columns):
 #   Column                       Dtype
---  ------                       -----
 0   date                         object
 1   location_key                 object
 2   average_temperature_celsius  float64
 3   minimum_temperature_celsius  float64
 4   maximum_temperature_celsius  float64
 5   rainfall_mm                  float64
 6   snowfall_mm                  float64
 7   dew_point                    float64
 8   relative_humidity            float64
dtypes: float64(7), object(2)
memory usage: 1.5+ GB

---------------------------------------------------------------------------

In [18]:
# Extract US data from datasets

us_index = index[index.location_key.str.startswith('US_') == True]
us_demographics = demographics[demographics.location_key.str.startswith('US_') == True]
us_epidemiology = epidemiology[epidemiology.location_key.str.startswith('US_') == True]
us_health = health[health.location_key.str.startswith('US_') == True]
us_vaccinations = vaccinations[vaccinations.location_key.str.startswith('US_') == True]
us_government_response = government_response[government_response.location_key.str.startswith('US_') == True]
us_weather = weather[weather.location_key.str.startswith('US_') == True]

In [15]:
# Write US datasets to local for future use

us_index.to_csv('../us_datasets/us_index.csv')
us_demographics.to_csv('../us_datasets/us_demographics.csv')
us_epidemiology.to_csv('../us_datasets/us_epidemiology.csv')
us_health.to_csv('../us_datasets/us_health.csv')
us_vaccinations.to_csv('../us_datasets/us_vaccinations.csv')
us_government_response.to_csv('../us_datasets/us_government_response.csv')
us_weather.to_csv('../us_datasets/us_weather.csv')

In [19]:
# Create Dataframes

us_index = pd.read_csv('../us_datasets/us_index.csv', index_col = 'location_key')
us_demographics = pd.read_csv('../us_datasets/us_demographics.csv', index_col = 'location_key')
us_epidemiology = pd.read_csv('../us_datasets/us_epidemiology.csv', index_col = 'location_key')
us_health= pd.read_csv('../us_datasets/us_health.csv', index_col = 'location_key')
us_vaccinations = pd.read_csv('../us_datasets/us_vaccinations.csv', index_col = 'location_key')
us_government_response = pd.read_csv('../us_datasets/us_government_response.csv', index_col = 'location_key')
us_weather = pd.read_csv('../us_datasets/us_weather.csv', index_col = 'location_key')

In [33]:
# Display data information from US only datasets

us_df_list = [us_index,
           us_demographics,
           us_epidemiology,
           us_health,
           us_vaccinations,
           us_government_response,
           us_weather]

for df in us_df_list:
    df.info()
    print()
    print('-'*75)
    print()

<class 'pandas.core.frame.DataFrame'>
Index: 3142 entries, US_AK_02013 to US_WY_56045
Data columns (total 1 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   subregion2_name  3142 non-null   object
dtypes: object(1)
memory usage: 49.1+ KB

---------------------------------------------------------------------------

<class 'pandas.core.frame.DataFrame'>
Index: 3284 entries, US_AK to US_WY_56045
Data columns (total 20 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Unnamed: 0.1                 3284 non-null   int64
 1   Unnamed: 0                   3284 non-null   int64
 2   population                   3284 non-null   float64
 3   population_male              3202 non-null   float64
 4   population_female            3202 non-null   float64
 5   population_rural             0 non-null      float64
 6   population_urban             0 non-null      float64
 7   population_largest_city      0 non-null      float64
 8   population_clustered         0 non-null      float64
 9   population_density           0 non-null      float64
 10  human_development_index      0 non-null      float64
 11  population_age_00_09         3202 non-null   float64
 12  population_age_10_19         3202 non-null   float64
 13  population_age_20_29         3202 non-null   float64
 14  population_age_30_39         3202 non-null   float64
 15  population_age_40_49         3202 non-null   float64
 16  population_age_50_59         3202 non-null   float64
 17  population_age_60_69         3202 non-null   float64
 18  population_age_70_79         3202 non-null   float64
 19  population_age_80_and_older  3202 non-null   float64
dtypes: float64(18), int64(2)
memory usage: 538.8+ KB

---------------------------------------------------------------------------

<class 'pandas.core.frame.DataFrame'>
Index: 2550043 entries, US_AK to US_WY_56045
Data columns (total 11 columns):
 #   Column                Dtype
---  ------                -----
 0   Unnamed: 0.1          int64
 1   Unnamed: 0            int64
 2   date                  object
 3   new_confirmed         float64
 4   new_deceased          float64
 5   new_recovered         float64
 6   new_tested            float64
 7   cumulative_confirmed  float64
 8   cumulative_deceased   float64
 9   cumulative_recovered  float64
 10  cumulative_tested     float64
dtypes: float64(8), int64(2), object(1)
memory usage: 233.5+ MB

---------------------------------------------------------------------------

<class 'pandas.core.frame.DataFrame'>
Index: 3075 entries, US_AK to US_WY_56045
Data columns (total 15 columns):
 #   Column                                Non-Null Count  Dtype
---  ------                                --------------  -----
 0   Unnamed: 0.1                          3075 non-null   int64
 1   Unnamed: 0                            3075 non-null   int64
 2   life_expectancy                       3075 non-null   float64
 3   smoking_prevalence                    0 non-null      float64
 4   diabetes_prevalence                   0 non-null      float64
 5   infant_mortality_rate                 0 non-null      float64
 6   adult_male_mortality_rate             0 non-null      float64
 7   adult_female_mortality_rate           0 non-null      float64
 8   pollution_mortality_rate              0 non-null      float64
 9   comorbidity_mortality_rate            0 non-null      float64
 10  hospital_beds_per_1000                0 non-null      float64
 11  nurses_per_1000                       0 non-null      float64
 12  physicians_per_1000                   0 non-null      float64
 13  health_expenditure_usd                0 non-null      float64
 14  out_of_pocket_health_expenditure_usd  0 non-null      float64
dtypes: float64(13), int64(2)
memory usage: 384.4+ KB

---------------------------------------------------------------------------

<class 'pandas.core.frame.DataFrame'>
Index: 57164 entries, US_AK to US_WY
Data columns (total 12 columns):
 #   Column                              Non-Null Count  Dtype
---  ------                              --------------  -----
 0   Unnamed: 0.1                        57164 non-null  int64
 1   Unnamed: 0                          57164 non-null  int64
 2   date                                57164 non-null  object
 3   new_hospitalized_patients           56261 non-null  float64
 4   cumulative_hospitalized_patients    52116 non-null  float64
 5   current_hospitalized_patients       48403 non-null  float64
 6   new_intensive_care_patients         4102 non-null   float64
 7   cumulative_intensive_care_patients  3789 non-null   float64
 8   current_intensive_care_patients     46209 non-null  float64
 9   new_ventilator_patients             1286 non-null   float64
 10  cumulative_ventilator_patients      1290 non-null   float64
 11  current_ventilator_patients         9126 non-null   float64
dtypes: float64(9), int64(2), object(1)
memory usage: 5.7+ MB

---------------------------------------------------------------------------

<class 'pandas.core.frame.DataFrame'>
Index: 1624891 entries, US_AK to US_WY_56045
Data columns (total 33 columns):
 #   Column                                         Non-Null Count    Dtype
---  ------                                         --------------    -----
 0   Unnamed: 0.1                                   1624891 non-null  int64
 1   Unnamed: 0                                     1624891 non-null  int64
 2   date                                           1624891 non-null  object
 3   new_persons_vaccinated                         33325 non-null    float64
 4   cumulative_persons_vaccinated                  33382 non-null    float64
 5   new_persons_fully_vaccinated                   1621498 non-null  float64
 6   cumulative_persons_fully_vaccinated            1624725 non-null  float64
 7   new_vaccine_doses_administered                 33422 non-null    float64
 8   cumulative_vaccine_doses_administered          33479 non-null    float64
 9   new_persons_vaccinated_pfizer                  0 non-null        float64
 10  cumulative_persons_vaccinated_pfizer           0 non-null        float64
 11  new_persons_fully_vaccinated_pfizer            30352 non-null    float64
 12  cumulative_persons_fully_vaccinated_pfizer     30408 non-null    float64
 13  new_vaccine_doses_administered_pfizer          30352 non-null    float64
 14  cumulative_vaccine_doses_administered_pfizer   30408 non-null    float64
 15  new_persons_vaccinated_moderna                 0 non-null        float64
 16  cumulative_persons_vaccinated_moderna          0 non-null        float64
 17  new_persons_fully_vaccinated_moderna           30352 non-null    float64
 18  cumulative_persons_fully_vaccinated_moderna    30408 non-null    float64
 19  new_vaccine_doses_administered_moderna         30352 non-null    float64
 20  cumulative_vaccine_doses_administered_moderna  30408 non-null    float64
 21  new_persons_vaccinated_janssen                 0 non-null        float64
 22  cumulative_persons_vaccinated_janssen          0 non-null        float64
 23  new_persons_fully_vaccinated_janssen           30352 non-null    float64
 24  cumulative_persons_fully_vaccinated_janssen    30408 non-null    float64
 25  new_vaccine_doses_administered_janssen         30352 non-null    float64
 26  cumulative_vaccine_doses_administered_janssen  30408 non-null    float64
 27  new_persons_vaccinated_sinovac                 0 non-null        float64
 28  total_persons_vaccinated_sinovac               0 non-null        float64
 29  new_persons_fully_vaccinated_sinovac           0 non-null        float64
 30  total_persons_fully_vaccinated_sinovac         0 non-null        float64
 31  new_vaccine_doses_administered_sinovac         0 non-null        float64
 32  total_vaccine_doses_administered_sinovac       0 non-null        float64
dtypes: float64(30), int64(2), object(1)
memory usage: 421.5+ MB

---------------------------------------------------------------------------

<class 'pandas.core.frame.DataFrame'>
Index: 47299 entries, US_AK to US_WY
Data columns (total 23 columns):
 #   Column                              Non-Null Count  Dtype
---  ------                              --------------  -----
 0   Unnamed: 0.1                        47299 non-null  int64
 1   Unnamed: 0                          47299 non-null  int64
 2   date                                47299 non-null  object
 3   school_closing                      47298 non-null  float64
 4   workplace_closing                   47299 non-null  float64
 5   cancel_public_events                47299 non-null  float64
 6   restrictions_on_gatherings          47299 non-null  float64
 7   public_transport_closing            47291 non-null  float64
 8   stay_at_home_requirements           47299 non-null  float64
 9   restrictions_on_internal_movement   47293 non-null  float64
 10  international_travel_controls       47284 non-null  float64
 11  income_support                      47294 non-null  float64
 12  debt_relief                         47249 non-null  float64
 13  fiscal_measures                     12047 non-null  float64
 14  international_support               11919 non-null  float64
 15  public_information_campaigns        47296 non-null  float64
 16  testing_policy                      47296 non-null  float64
 17  contact_tracing                     47284 non-null  float64
 18  emergency_investment_in_healthcare  11851 non-null  float64
 19  investment_in_vaccines              13868 non-null  float64
 20  facial_coverings                    47293 non-null  float64
 21  vaccination_policy                  47289 non-null  float64
 22  stringency_index                    47293 non-null  float64
dtypes: float64(20), int64(2), object(1)
memory usage: 8.7+ MB

---------------------------------------------------------------------------

<class 'pandas.core.frame.DataFrame'>
Index: 3240613 entries, US_AK to US_WY_56045
Data columns (total 10 columns):
 #   Column                       Dtype
---  ------                       -----
 0   Unnamed: 0.1                 int64
 1   Unnamed: 0                   int64
 2   date                         object
 3   average_temperature_celsius  float64
 4   minimum_temperature_celsius  float64
 5   maximum_temperature_celsius  float64
 6   rainfall_mm                  float64
 7   snowfall_mm                  float64
 8   dew_point                    float64
 9   relative_humidity            float64
dtypes: float64(7), int64(2), object(1)
memory usage: 272.0+ MB

---------------------------------------------------------------------------

## Drop unnecessary columns and rows, prepare datasets for merging

### Clean index dataset

In [21]:
# Only keep data on US states by county, drop state level and US territory data

us_index = us_index[us_index.subregion1_code.isin(['MP', 'PR', 'VI']) == False]
us_index = us_index[['subregion2_name']].dropna()

In [22]:
us_index.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3142 entries, US_AK_02013 to US_WY_56045
Data columns (total 1 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   subregion2_name  3142 non-null   object
dtypes: object(1)
memory usage: 49.1+ KB

In [23]:
# Save index to merge data on for reference

us_index.to_csv('../us_datasets/us_index_merge_on.csv')

### Clean us_demographics dataset

In [119]:
# identify columns to drop

us_demographics.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3284 entries, US_AK to US_WY_56045
Data columns (total 20 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Unnamed: 0.1                 3284 non-null   int64
 1   Unnamed: 0                   3284 non-null   int64
 2   population                   3284 non-null   float64
 3   population_male              3202 non-null   float64
 4   population_female            3202 non-null   float64
 5   population_rural             0 non-null      float64
 6   population_urban             0 non-null      float64
 7   population_largest_city      0 non-null      float64
 8   population_clustered         0 non-null      float64
 9   population_density           0 non-null      float64
 10  human_development_index      0 non-null      float64
 11  population_age_00_09         3202 non-null   float64
 12  population_age_10_19         3202 non-null   float64
 13  population_age_20_29         3202 non-null   float64
 14  population_age_30_39         3202 non-null   float64
 15  population_age_40_49         3202 non-null   float64
 16  population_age_50_59         3202 non-null   float64
 17  population_age_60_69         3202 non-null   float64
 18  population_age_70_79         3202 non-null   float64
 19  population_age_80_and_older  3202 non-null   float64
dtypes: float64(18), int64(2)
memory usage: 538.8+ KB

In [120]:
# Drop empty and unnecessary columns

us_demographics.drop(axis = 1, columns = ['Unnamed: 0.1',
                                          'Unnamed: 0',
                                          'population_rural', 
                                          'population_urban', 
                                          'population_largest_city', 
                                          'population_clustered', 
                                          'population_density', 
                                          'human_development_index'], 
                     inplace = True)

In [121]:
# Create population and sex ratios

us_demographics['male_female_ratio'] = us_demographics['population_male'] / us_demographics['population']
us_demographics['age_00_09_ratio'] = us_demographics['population_age_00_09'] / us_demographics['population']
us_demographics['age_10_19_ratio'] = us_demographics['population_age_10_19'] / us_demographics['population']
us_demographics['age_20_29_ratio'] = us_demographics['population_age_20_29'] / us_demographics['population']
us_demographics['age_30_3_ratio'] = us_demographics['population_age_30_39'] / us_demographics['population']
us_demographics['age_40_49_ratio'] = us_demographics['population_age_40_49'] / us_demographics['population']
us_demographics['age_50_59_ratio'] = us_demographics['population_age_50_59'] / us_demographics['population']
us_demographics['age_60_69_ratio'] = us_demographics['population_age_60_69'] / us_demographics['population']
us_demographics['age_70_79_ratio'] = us_demographics['population_age_70_79'] / us_demographics['population']
us_demographics['age_80_and_older_ratio'] = us_demographics['population_age_80_and_older'] / us_demographics['population']

In [122]:
us_demographics.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3284 entries, US_AK to US_WY_56045
Data columns (total 22 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   population                   3284 non-null   float64
 1   population_male              3202 non-null   float64
 2   population_female            3202 non-null   float64
 3   population_age_00_09         3202 non-null   float64
 4   population_age_10_19         3202 non-null   float64
 5   population_age_20_29         3202 non-null   float64
 6   population_age_30_39         3202 non-null   float64
 7   population_age_40_49         3202 non-null   float64
 8   population_age_50_59         3202 non-null   float64
 9   population_age_60_69         3202 non-null   float64
 10  population_age_70_79         3202 non-null   float64
 11  population_age_80_and_older  3202 non-null   float64
 12  male_female_ratio            3202 non-null   float64
 13  age_00_09_ratio              3202 non-null   float64
 14  age_10_19_ratio              3202 non-null   float64
 15  age_20_29_ratio              3202 non-null   float64
 16  age_30_3_ratio               3202 non-null   float64
 17  age_40_49_ratio              3202 non-null   float64
 18  age_50_59_ratio              3202 non-null   float64
 19  age_60_69_ratio              3202 non-null   float64
 20  age_70_79_ratio              3202 non-null   float64
 21  age_80_and_older_ratio       3202 non-null   float64
dtypes: float64(22)
memory usage: 590.1+ KB

In [123]:
# Drop remaining unnecessary columns

us_demographics.drop(axis = 1, columns = ['population',
                                          'population_male',
                                          'population_female', 
                                          'population_age_00_09',
                                          'population_age_10_19',
                                          'population_age_20_29', 
                                          'population_age_30_39', 
                                          'population_age_40_49', 
                                          'population_age_50_59',
                                          'population_age_60_69',
                                          'population_age_70_79',
                                          'population_age_80_and_older'
                                         ], 
                     inplace = True)

### Clean us_health dataset

In [51]:
# identify columns to drop

us_health.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3075 entries, US_AK to US_WY_56045
Data columns (total 15 columns):
 #   Column                                Non-Null Count  Dtype
---  ------                                --------------  -----
 0   Unnamed: 0.1                          3075 non-null   int64
 1   Unnamed: 0                            3075 non-null   int64
 2   life_expectancy                       3075 non-null   float64
 3   smoking_prevalence                    0 non-null      float64
 4   diabetes_prevalence                   0 non-null      float64
 5   infant_mortality_rate                 0 non-null      float64
 6   adult_male_mortality_rate             0 non-null      float64
 7   adult_female_mortality_rate           0 non-null      float64
 8   pollution_mortality_rate              0 non-null      float64
 9   comorbidity_mortality_rate            0 non-null      float64
 10  hospital_beds_per_1000                0 non-null      float64
 11  nurses_per_1000                       0 non-null      float64
 12  physicians_per_1000                   0 non-null      float64
 13  health_expenditure_usd                0 non-null      float64
 14  out_of_pocket_health_expenditure_usd  0 non-null      float64
dtypes: float64(13), int64(2)
memory usage: 384.4+ KB

In [53]:
# life_expectancy only useful column in health dataset

us_health = us_health[['life_expectancy']]

### Extract vaccination data from time based dataset

In [48]:
# first merge will not include vaccination data

us_vaccinations_2 = us_vaccinations.loc[us_vaccinations.date == '2021-09-01', ['cumulative_persons_fully_vaccinated']]
us_vaccinations_3 = us_vaccinations.loc[us_vaccinations.date == '2022-05-13', ['cumulative_persons_fully_vaccinated']]

In [49]:
us_vaccinations_3.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3278 entries, US_AK to US_WY_56045
Data columns (total 1 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   cumulative_persons_fully_vaccinated  3278 non-null   float64
dtypes: float64(1)
memory usage: 51.2+ KB

### Extract government response data from time based dataset

In [107]:
# see data quality

us_government_response.info()

<class 'pandas.core.frame.DataFrame'>
Index: 47299 entries, US_AK to US_WY
Data columns (total 23 columns):
 #   Column                              Non-Null Count  Dtype
---  ------                              --------------  -----
 0   Unnamed: 0.1                        47299 non-null  int64
 1   Unnamed: 0                          47299 non-null  int64
 2   date                                47299 non-null  object
 3   school_closing                      47298 non-null  float64
 4   workplace_closing                   47299 non-null  float64
 5   cancel_public_events                47299 non-null  float64
 6   restrictions_on_gatherings          47299 non-null  float64
 7   public_transport_closing            47291 non-null  float64
 8   stay_at_home_requirements           47299 non-null  float64
 9   restrictions_on_internal_movement   47293 non-null  float64
 10  international_travel_controls       47284 non-null  float64
 11  income_support                      47294 non-null  float64
 12  debt_relief                         47249 non-null  float64
 13  fiscal_measures                     12047 non-null  float64
 14  international_support               11919 non-null  float64
 15  public_information_campaigns        47296 non-null  float64
 16  testing_policy                      47296 non-null  float64
 17  contact_tracing                     47284 non-null  float64
 18  emergency_investment_in_healthcare  11851 non-null  float64
 19  investment_in_vaccines              13868 non-null  float64
 20  facial_coverings                    47293 non-null  float64
 21  vaccination_policy                  47289 non-null  float64
 22  stringency_index                    47293 non-null  float64
dtypes: float64(20), int64(2), object(1)
memory usage: 8.7+ MB

In [108]:
# dataset location_key is by state, not county like the rest of the data.  Set the index as gr_key to merge on later

us_government_response.index.name

'location_key'

In [109]:
us_government_response.index.name = 'gr_key'

In [111]:
# Drop incomplete data rows and stringency index as its a combination of several other features

us_government_response.drop(axis = 1, columns = ['Unnamed: 0.1',
                                                 'Unnamed: 0',
                                                 'fiscal_measures',
                                                 'international_support',
                                                 'emergency_investment_in_healthcare', 
                                                 'investment_in_vaccines',
                                                 'stringency_index'
                                                ], 
                            inplace = True)

In [112]:
# Create three us_government_response datasets for merging later

us_government_response_1 = us_government_response.loc[us_government_response.date == '2021-01-01']
us_government_response_2 = us_government_response.loc[us_government_response.date == '2021-09-01']
us_government_response_3 = us_government_response.loc[us_government_response.date == '2022-05-13']

In [113]:
us_government_response_1.info()

<class 'pandas.core.frame.DataFrame'>
Index: 51 entries, US_AK to US_WY
Data columns (total 16 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   date                               51 non-null     object
 1   school_closing                     51 non-null     float64
 2   workplace_closing                  51 non-null     float64
 3   cancel_public_events               51 non-null     float64
 4   restrictions_on_gatherings         51 non-null     float64
 5   public_transport_closing           51 non-null     float64
 6   stay_at_home_requirements          51 non-null     float64
 7   restrictions_on_internal_movement  51 non-null     float64
 8   international_travel_controls      51 non-null     float64
 9   income_support                     51 non-null     float64
 10  debt_relief                        51 non-null     float64
 11  public_information_campaigns       51 non-null     float64
 12  testing_policy                     51 non-null     float64
 13  contact_tracing                    51 non-null     float64
 14  facial_coverings                   51 non-null     float64
 15  vaccination_policy                 51 non-null     float64
dtypes: float64(15), object(1)
memory usage: 6.8+ KB

### Extract weather data from time based dataset

In [92]:
# see data quality

weather.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21680590 entries, 0 to 21680589
Data columns (total 9 columns):
 #   Column                       Dtype
---  ------                       -----
 0   date                         object
 1   location_key                 object
 2   average_temperature_celsius  float64
 3   minimum_temperature_celsius  float64
 4   maximum_temperature_celsius  float64
 5   rainfall_mm                  float64
 6   snowfall_mm                  float64
 7   dew_point                    float64
 8   relative_humidity            float64
dtypes: float64(7), object(2)
memory usage: 1.5+ GB

In [93]:
# Create three weather datasets for merging later

us_weather_1 = us_weather.loc[us_weather.date == '2021-01-01']
us_weather_2 = us_weather.loc[us_weather.date == '2021-09-01']
us_weather_3 = us_weather.loc[us_weather.date == '2022-05-13']

In [94]:
us_weather_1.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3280 entries, US_AK to US_WY_56045
Data columns (total 10 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Unnamed: 0.1                 3280 non-null   int64
 1   Unnamed: 0                   3280 non-null   int64
 2   date                         3280 non-null   object
 3   average_temperature_celsius  3280 non-null   float64
 4   minimum_temperature_celsius  3280 non-null   float64
 5   maximum_temperature_celsius  3280 non-null   float64
 6   rainfall_mm                  3280 non-null   float64
 7   snowfall_mm                  874 non-null    float64
 8   dew_point                    3278 non-null   float64
 9   relative_humidity            3278 non-null   float64
dtypes: float64(7), int64(2), object(1)
memory usage: 281.9+ KB

In [95]:
# Clean weather datasets, drop unnecessary index columns and set null snowfall cells to 0

us_weather_1 = us_weather_1.drop(axis = 1, columns = ['Unnamed: 0.1','Unnamed: 0'])
us_weather_2 = us_weather_2.drop(axis = 1, columns = ['Unnamed: 0.1','Unnamed: 0'])
us_weather_3 = us_weather_3.drop(axis = 1, columns = ['Unnamed: 0.1','Unnamed: 0'])

In [96]:
us_weather_1.loc[(us_weather_1['snowfall_mm'].isnull()), ['snowfall_mm']] = 0
us_weather_2.loc[(us_weather_2['snowfall_mm'].isnull()), ['snowfall_mm']] = 0
us_weather_3.loc[(us_weather_3['snowfall_mm'].isnull()), ['snowfall_mm']] = 0

### Extract epidemiology from time based dataset

In [97]:
# View data quality

us_epidemiology.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2550043 entries, US_AK to US_WY_56045
Data columns (total 11 columns):
 #   Column                Dtype
---  ------                -----
 0   Unnamed: 0.1          int64
 1   Unnamed: 0            int64
 2   date                  object
 3   new_confirmed         float64
 4   new_deceased          float64
 5   new_recovered         float64
 6   new_tested            float64
 7   cumulative_confirmed  float64
 8   cumulative_deceased   float64
 9   cumulative_recovered  float64
 10  cumulative_tested     float64
dtypes: float64(8), int64(2), object(1)
memory usage: 233.5+ MB

In [99]:
# Use this cell to find last day for good epidemiology data

us_epidemiology_3 = us_epidemiology.loc[us_epidemiology.date == '2022-05-13', ['cumulative_confirmed', 'cumulative_deceased', 'cumulative_confirmed', 'cumulative_deceased']]
us_epidemiology_3.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3280 entries, US_AK to US_WY_56045
Data columns (total 4 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   cumulative_confirmed  3280 non-null   float64
 1   cumulative_deceased   3201 non-null   float64
 2   cumulative_confirmed  3280 non-null   float64
 3   cumulative_deceased   3201 non-null   float64
dtypes: float64(4)
memory usage: 128.1+ KB

In [100]:
# Create three epidemiology datasets for merging later

us_epidemiology_1 = us_epidemiology.loc[us_epidemiology.date == '2021-01-01', ['new_confirmed', 'new_deceased', 'cumulative_confirmed', 'cumulative_deceased']]
us_epidemiology_2 = us_epidemiology.loc[us_epidemiology.date == '2021-09-01', ['new_confirmed', 'new_deceased', 'cumulative_confirmed', 'cumulative_deceased']]
us_epidemiology_3 = us_epidemiology.loc[us_epidemiology.date == '2022-05-13', ['new_confirmed', 'new_deceased', 'cumulative_confirmed', 'cumulative_deceased']]

## Merge datasets

### Merge first set of datasets 2021-01-01

In [181]:
# concat county level datasets 
# merge us_government_response on previously created 'gr_key' to assign state level response values to respective counties

merged_1 = pd.concat([us_index, us_demographics, us_health, us_weather_1, us_epidemiology_1], axis = 1, join = 'inner')
merged_1['gr_key'] = merged_1.index.str[:5]
merged_1 = pd.merge(us_government_response_1, merged_1, how = 'right', on = 'gr_key')

In [182]:
merged_1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3014 entries, 0 to 3013
Data columns (total 41 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   gr_key                             3014 non-null   object
 1   date_x                             3014 non-null   object
 2   school_closing                     3014 non-null   float64
 3   workplace_closing                  3014 non-null   float64
 4   cancel_public_events               3014 non-null   float64
 5   restrictions_on_gatherings         3014 non-null   float64
 6   public_transport_closing           3014 non-null   float64
 7   stay_at_home_requirements          3014 non-null   float64
 8   restrictions_on_internal_movement  3014 non-null   float64
 9   international_travel_controls      3014 non-null   float64
 10  income_support                     3014 non-null   float64
 11  debt_relief                        3014 non-null   float64
 12  public_information_campaigns       3014 non-null   float64
 13  testing_policy                     3014 non-null   float64
 14  contact_tracing                    3014 non-null   float64
 15  facial_coverings                   3014 non-null   float64
 16  vaccination_policy                 3014 non-null   float64
 17  subregion2_name                    3014 non-null   object
 18  male_female_ratio                  3014 non-null   float64
 19  age_00_09_ratio                    3014 non-null   float64
 20  age_10_19_ratio                    3014 non-null   float64
 21  age_20_29_ratio                    3014 non-null   float64
 22  age_30_3_ratio                     3014 non-null   float64
 23  age_40_49_ratio                    3014 non-null   float64
 24  age_50_59_ratio                    3014 non-null   float64
 25  age_60_69_ratio                    3014 non-null   float64
 26  age_70_79_ratio                    3014 non-null   float64
 27  age_80_and_older_ratio             3014 non-null   float64
 28  life_expectancy                    3014 non-null   float64
 29  date_y                             3014 non-null   object
 30  average_temperature_celsius        3014 non-null   float64
 31  minimum_temperature_celsius        3014 non-null   float64
 32  maximum_temperature_celsius        3014 non-null   float64
 33  rainfall_mm                        3014 non-null   float64
 34  snowfall_mm                        3014 non-null   float64
 35  dew_point                          3013 non-null   float64
 36  relative_humidity                  3013 non-null   float64
 37  new_confirmed                      3014 non-null   float64
 38  new_deceased                       3014 non-null   float64
 39  cumulative_confirmed               3014 non-null   float64
 40  cumulative_deceased                3014 non-null   float64
dtypes: float64(37), object(4)
memory usage: 965.6+ KB

In [183]:
# Drop unnecessary and redudant columns then dropna()

merged_1.drop(axis = 1, columns = ['subregion2_name',
                                   'date_x',
                                   'minimum_temperature_celsius',
                                   'maximum_temperature_celsius',
                                   'relative_humidity',
                                   'gr_key', 
                                   'date_y'
                                  ],
              inplace = True)

merged_1.dropna(inplace = True)

In [184]:
merged_1.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3013 entries, 0 to 3013
Data columns (total 34 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   school_closing                     3013 non-null   float64
 1   workplace_closing                  3013 non-null   float64
 2   cancel_public_events               3013 non-null   float64
 3   restrictions_on_gatherings         3013 non-null   float64
 4   public_transport_closing           3013 non-null   float64
 5   stay_at_home_requirements          3013 non-null   float64
 6   restrictions_on_internal_movement  3013 non-null   float64
 7   international_travel_controls      3013 non-null   float64
 8   income_support                     3013 non-null   float64
 9   debt_relief                        3013 non-null   float64
 10  public_information_campaigns       3013 non-null   float64
 11  testing_policy                     3013 non-null   float64
 12  contact_tracing                    3013 non-null   float64
 13  facial_coverings                   3013 non-null   float64
 14  vaccination_policy                 3013 non-null   float64
 15  male_female_ratio                  3013 non-null   float64
 16  age_00_09_ratio                    3013 non-null   float64
 17  age_10_19_ratio                    3013 non-null   float64
 18  age_20_29_ratio                    3013 non-null   float64
 19  age_30_3_ratio                     3013 non-null   float64
 20  age_40_49_ratio                    3013 non-null   float64
 21  age_50_59_ratio                    3013 non-null   float64
 22  age_60_69_ratio                    3013 non-null   float64
 23  age_70_79_ratio                    3013 non-null   float64
 24  age_80_and_older_ratio             3013 non-null   float64
 25  life_expectancy                    3013 non-null   float64
 26  average_temperature_celsius        3013 non-null   float64
 27  rainfall_mm                        3013 non-null   float64
 28  snowfall_mm                        3013 non-null   float64
 29  dew_point                          3013 non-null   float64
 30  new_confirmed                      3013 non-null   float64
 31  new_deceased                       3013 non-null   float64
 32  cumulative_confirmed               3013 non-null   float64
 33  cumulative_deceased                3013 non-null   float64
dtypes: float64(34)
memory usage: 823.9 KB

In [185]:
# save merged_1 for future use

merged_1.to_csv('../us_datasets/merged_1.csv')

### Merge second set of datasets 2021-09-01

In [186]:
# concat county level datasets 
# merge us_government_response on previously created 'gr_key' to assign state level response values to respective counties

merged_2 = pd.concat([us_index, us_demographics, us_health, us_vaccinations_2, us_weather_2, us_epidemiology_1], axis = 1, join = 'inner')
merged_2['gr_key'] = merged_2.index.str[:5]
merged_2 = pd.merge(us_government_response_2, merged_2, how = 'right', on = 'gr_key')

In [187]:
merged_2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3013 entries, 0 to 3012
Data columns (total 42 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   gr_key                               3013 non-null   object
 1   date_x                               3013 non-null   object
 2   school_closing                       3013 non-null   float64
 3   workplace_closing                    3013 non-null   float64
 4   cancel_public_events                 3013 non-null   float64
 5   restrictions_on_gatherings           3013 non-null   float64
 6   public_transport_closing             3013 non-null   float64
 7   stay_at_home_requirements            3013 non-null   float64
 8   restrictions_on_internal_movement    3013 non-null   float64
 9   international_travel_controls        3013 non-null   float64
 10  income_support                       3013 non-null   float64
 11  debt_relief                          3013 non-null   float64
 12  public_information_campaigns         3013 non-null   float64
 13  testing_policy                       3013 non-null   float64
 14  contact_tracing                      3013 non-null   float64
 15  facial_coverings                     3013 non-null   float64
 16  vaccination_policy                   3013 non-null   float64
 17  subregion2_name                      3013 non-null   object
 18  male_female_ratio                    3013 non-null   float64
 19  age_00_09_ratio                      3013 non-null   float64
 20  age_10_19_ratio                      3013 non-null   float64
 21  age_20_29_ratio                      3013 non-null   float64
 22  age_30_3_ratio                       3013 non-null   float64
 23  age_40_49_ratio                      3013 non-null   float64
 24  age_50_59_ratio                      3013 non-null   float64
 25  age_60_69_ratio                      3013 non-null   float64
 26  age_70_79_ratio                      3013 non-null   float64
 27  age_80_and_older_ratio               3013 non-null   float64
 28  life_expectancy                      3013 non-null   float64
 29  cumulative_persons_fully_vaccinated  3013 non-null   float64
 30  date_y                               3013 non-null   object
 31  average_temperature_celsius          3013 non-null   float64
 32  minimum_temperature_celsius          3013 non-null   float64
 33  maximum_temperature_celsius          3013 non-null   float64
 34  rainfall_mm                          3013 non-null   float64
 35  snowfall_mm                          3013 non-null   float64
 36  dew_point                            3012 non-null   float64
 37  relative_humidity                    3012 non-null   float64
 38  new_confirmed                        3013 non-null   float64
 39  new_deceased                         3013 non-null   float64
 40  cumulative_confirmed                 3013 non-null   float64
 41  cumulative_deceased                  3013 non-null   float64
dtypes: float64(38), object(4)
memory usage: 988.8+ KB

In [188]:
# Drop unnecessary and redudant columns then dropna()

merged_2.drop(axis = 1, columns = ['subregion2_name',
                                   'date_x',
                                   'minimum_temperature_celsius',
                                   'maximum_temperature_celsius',
                                   'relative_humidity',
                                   'gr_key', 
                                   'date_y'
                                  ],
              inplace = True)

merged_2.dropna(inplace = True)

In [189]:
merged_2.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3012 entries, 0 to 3012
Data columns (total 35 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   school_closing                       3012 non-null   float64
 1   workplace_closing                    3012 non-null   float64
 2   cancel_public_events                 3012 non-null   float64
 3   restrictions_on_gatherings           3012 non-null   float64
 4   public_transport_closing             3012 non-null   float64
 5   stay_at_home_requirements            3012 non-null   float64
 6   restrictions_on_internal_movement    3012 non-null   float64
 7   international_travel_controls        3012 non-null   float64
 8   income_support                       3012 non-null   float64
 9   debt_relief                          3012 non-null   float64
 10  public_information_campaigns         3012 non-null   float64
 11  testing_policy                       3012 non-null   float64
 12  contact_tracing                      3012 non-null   float64
 13  facial_coverings                     3012 non-null   float64
 14  vaccination_policy                   3012 non-null   float64
 15  male_female_ratio                    3012 non-null   float64
 16  age_00_09_ratio                      3012 non-null   float64
 17  age_10_19_ratio                      3012 non-null   float64
 18  age_20_29_ratio                      3012 non-null   float64
 19  age_30_3_ratio                       3012 non-null   float64
 20  age_40_49_ratio                      3012 non-null   float64
 21  age_50_59_ratio                      3012 non-null   float64
 22  age_60_69_ratio                      3012 non-null   float64
 23  age_70_79_ratio                      3012 non-null   float64
 24  age_80_and_older_ratio               3012 non-null   float64
 25  life_expectancy                      3012 non-null   float64
 26  cumulative_persons_fully_vaccinated  3012 non-null   float64
 27  average_temperature_celsius          3012 non-null   float64
 28  rainfall_mm                          3012 non-null   float64
 29  snowfall_mm                          3012 non-null   float64
 30  dew_point                            3012 non-null   float64
 31  new_confirmed                        3012 non-null   float64
 32  new_deceased                         3012 non-null   float64
 33  cumulative_confirmed                 3012 non-null   float64
 34  cumulative_deceased                  3012 non-null   float64
dtypes: float64(35)
memory usage: 847.1 KB

In [190]:
# save merged_2 for future use

merged_2.to_csv('../us_datasets/merged_2.csv')

### Merge third set of datasets 2021-05-13

In [191]:
# concat county level datasets 
# merge us_government_response on previously created 'gr_key' to assign state level response values to respective counties

merged_3 = pd.concat([us_index, us_demographics, us_health, us_vaccinations_3, us_weather_3, us_epidemiology_3], axis = 1, join = 'inner')
merged_3['gr_key'] = merged_3.index.str[:5]
merged_3 = pd.merge(us_government_response_3, merged_3, how = 'right', on = 'gr_key')

In [192]:
merged_3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3014 entries, 0 to 3013
Data columns (total 42 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   gr_key                               3014 non-null   object
 1   date_x                               3014 non-null   object
 2   school_closing                       3014 non-null   float64
 3   workplace_closing                    3014 non-null   float64
 4   cancel_public_events                 3014 non-null   float64
 5   restrictions_on_gatherings           3014 non-null   float64
 6   public_transport_closing             3014 non-null   float64
 7   stay_at_home_requirements            3014 non-null   float64
 8   restrictions_on_internal_movement    3014 non-null   float64
 9   international_travel_controls        3014 non-null   float64
 10  income_support                       3014 non-null   float64
 11  debt_relief                          3014 non-null   float64
 12  public_information_campaigns         3014 non-null   float64
 13  testing_policy                       3014 non-null   float64
 14  contact_tracing                      3014 non-null   float64
 15  facial_coverings                     3014 non-null   float64
 16  vaccination_policy                   3014 non-null   float64
 17  subregion2_name                      3014 non-null   object
 18  male_female_ratio                    3014 non-null   float64
 19  age_00_09_ratio                      3014 non-null   float64
 20  age_10_19_ratio                      3014 non-null   float64
 21  age_20_29_ratio                      3014 non-null   float64
 22  age_30_3_ratio                       3014 non-null   float64
 23  age_40_49_ratio                      3014 non-null   float64
 24  age_50_59_ratio                      3014 non-null   float64
 25  age_60_69_ratio                      3014 non-null   float64
 26  age_70_79_ratio                      3014 non-null   float64
 27  age_80_and_older_ratio               3014 non-null   float64
 28  life_expectancy                      3014 non-null   float64
 29  cumulative_persons_fully_vaccinated  3014 non-null   float64
 30  date_y                               3014 non-null   object
 31  average_temperature_celsius          3014 non-null   float64
 32  minimum_temperature_celsius          3014 non-null   float64
 33  maximum_temperature_celsius          3014 non-null   float64
 34  rainfall_mm                          3014 non-null   float64
 35  snowfall_mm                          3014 non-null   float64
 36  dew_point                            3013 non-null   float64
 37  relative_humidity                    3013 non-null   float64
 38  new_confirmed                        3014 non-null   float64
 39  new_deceased                         3014 non-null   float64
 40  cumulative_confirmed                 3014 non-null   float64
 41  cumulative_deceased                  3014 non-null   float64
dtypes: float64(38), object(4)
memory usage: 989.1+ KB

In [193]:
# Drop unnecessary and redudant columns then dropna()

merged_3.drop(axis = 1, columns = ['subregion2_name',
                                   'date_x',
                                   'minimum_temperature_celsius',
                                   'maximum_temperature_celsius',
                                   'relative_humidity',
                                   'gr_key', 
                                   'date_y'
                                  ],
              inplace = True)

merged_3.dropna(inplace = True)

In [194]:
merged_3.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3013 entries, 0 to 3013
Data columns (total 35 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   school_closing                       3013 non-null   float64
 1   workplace_closing                    3013 non-null   float64
 2   cancel_public_events                 3013 non-null   float64
 3   restrictions_on_gatherings           3013 non-null   float64
 4   public_transport_closing             3013 non-null   float64
 5   stay_at_home_requirements            3013 non-null   float64
 6   restrictions_on_internal_movement    3013 non-null   float64
 7   international_travel_controls        3013 non-null   float64
 8   income_support                       3013 non-null   float64
 9   debt_relief                          3013 non-null   float64
 10  public_information_campaigns         3013 non-null   float64
 11  testing_policy                       3013 non-null   float64
 12  contact_tracing                      3013 non-null   float64
 13  facial_coverings                     3013 non-null   float64
 14  vaccination_policy                   3013 non-null   float64
 15  male_female_ratio                    3013 non-null   float64
 16  age_00_09_ratio                      3013 non-null   float64
 17  age_10_19_ratio                      3013 non-null   float64
 18  age_20_29_ratio                      3013 non-null   float64
 19  age_30_3_ratio                       3013 non-null   float64
 20  age_40_49_ratio                      3013 non-null   float64
 21  age_50_59_ratio                      3013 non-null   float64
 22  age_60_69_ratio                      3013 non-null   float64
 23  age_70_79_ratio                      3013 non-null   float64
 24  age_80_and_older_ratio               3013 non-null   float64
 25  life_expectancy                      3013 non-null   float64
 26  cumulative_persons_fully_vaccinated  3013 non-null   float64
 27  average_temperature_celsius          3013 non-null   float64
 28  rainfall_mm                          3013 non-null   float64
 29  snowfall_mm                          3013 non-null   float64
 30  dew_point                            3013 non-null   float64
 31  new_confirmed                        3013 non-null   float64
 32  new_deceased                         3013 non-null   float64
 33  cumulative_confirmed                 3013 non-null   float64
 34  cumulative_deceased                  3013 non-null   float64
dtypes: float64(35)
memory usage: 847.4 KB

In [51]:
# Save merged_3 for future use

merged_3.to_csv('../us_datasets/merged_3.csv')